# .gitattributes

# text
* text eol=lf

# linguist-detectable
* linguist-detectable=true

# linguist-vendored
**/libs/** linguist-vendored=true
**/fonts/** linguist-vendored=true
**/image/** linguist-vendored=true
**/types/** linguist-vendored=true