# .gitattributes

* text=auto eol=lf

*.java linguist-language=Java
*.jsp linguist-language=Java
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.css linguist-language=CSS
*.xml linguist-language=XML
*.xsd linguist-language=XML
*.xsl linguist-language=XML
*.sql linguist-language=SQL
*.json linguist-language=JSON