/** common ****************************************************************************************/
.body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #f7f7f7 !important;
}
.body .container {
	padding: 20px !important;
}
.sidebar-container.sidebar-open {
	min-height: 100%;
	width: 100px;
	padding: 0;
	z-index: 9999;
	position: absolute;
	transition: 0.3s all ease-in-out !important;
	opacity: 1 !important;
	background: #2a3f54;
	transform: translateX(0);
}
.sidebar-container.sidebar-closed {
	min-height: 100%;
	width: 100px;
	padding: 0;
	z-index: 9999;
	position: absolute;
	transition: 0.3s all ease-in-out !important;
	opacity: 1 !important;
	background: #2a3f54;
	transform: translateX(-100%);
}
.sidebar-logo {
	padding: 15px 5px 5px 5px;
}
.sidebar-img {
	width: 100%;
	height: auto;
}
.sidebar-footer {
	padding: 10px 10px 15px 10px;
}
.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 5px;
	border: 2px solid #dedede;
	padding: 10px 20px 10px 20px;
	position: fixed;
	top: 60px;
	right: 0;
	z-index: 10000;
	transition: 0.3s all ease-in-out !important;
	box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05), 2px 0 2px 0 rgba(0, 0, 0, 0.05),
		0 2px 2px 0 rgba(0, 0, 0, 0.05), -2px 0 2px 0 rgba(0, 0, 0, 0.05) !important;
}
.version-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	border-radius: 5px;
	border: 2px solid #dedede;
	padding: 5px 10px 5px 10px;
	position: absolute;
	bottom: 5px;
	right: 15px;
	z-index: 10000;
	transition: 0.3s all ease-in-out !important;
	box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.05), 2px 0 2px 0 rgba(0, 0, 0, 0.05),
		0 2px 2px 0 rgba(0, 0, 0, 0.05), -2px 0 2px 0 rgba(0, 0, 0, 0.05) !important;
}
.grid-main {
	width: 100%;
}
.grid-detail,
.grid-perm {
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	border: 2px solid #dedede;
	padding: 20px;
}
.detail-label {
	height: 100% !important;
	background-color: #f1f5f8 !important;
	padding: 5px !important;
	margin-right: 10px !important;
}
.search-label {
	height: 100% !important;
	background-color: #eaeaea !important;
	padding: 5px !important;
	margin-right: 10px !important;
}
.delBtn {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
	margin: 0;
	padding: 0;
	color: #d9534f;
	font-size: 0.9rem;
	font-weight: 700;
	background-color: transparent;
	cursor: pointer;
}
.chkBtn {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
	margin: 0;
	padding: 0;
	color: #428bca;
	font-size: 0.9rem;
	font-weight: 700;
	background-color: transparent;
	cursor: pointer;
}
.insertBtn {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	text-align: center !important;
	margin: 0;
	padding: 0;
	color: #428bca;
	font-size: 0.9rem;
	font-weight: 700;
	background-color: transparent;
	cursor: pointer;
}
.delBtn:hover,
.chkBtn:hover,
.insertBtn:hover {
	scale: 1.2;
	transition: 0.3s all ease-in-out !important;
}
.btn-xs {
	padding: 4px 8px;
	font-size: 0.85rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}
.form-control-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 3px;
}

/** header ****************************************************************************************/
.header-container {
	width: 100%;
	min-height: 60px;
	position: relative;
	background: #ededed;
	border: 1px solid #d9dee4;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) !important;
	border-bottom: 1px solid #dedede !important;
}
.header-toggle {
	position: absolute;
	left: 25px;
	bottom: 15px;
	z-index: 100;
}
.header-tab {
	position: absolute;
	bottom: 0;
}
.header-tab > ul {
	margin: 0 0 0 85px;
	padding: 0;
}
.header-tab > ul > li {
	list-style: none;
	padding: 0;
}
.header-tab > ul > li > div:hover,
.header-tab > ul > li.active > div {
	background: #f7f7f7;
}
.header-tab > ul > li > span > i {
	margin-left: -22px;
	margin-right: 13px;
}
.header-tab > ul > li > span > i:hover {
	cursor: pointer;
	color: #f60;
}
.header-menu {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

/** nav *******************************************************************************************/
.nav.side-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.nav.side-menu li a {
	text-align: center !important;
	font-weight: 400;
	font-size: 0.75rem;
	padding: 10px 5px;
}
.nav.child-menu li.active {
	border-right: 5px solid #1abb9c;
}
.nav.side-menu > li.active-sm > a {
	color: #1abb9c !important;
}
.nav.side-menu li a i {
	font-size: 1.5rem;
	text-align: center;
	width: 100% !important;
	margin-bottom: 10px;
}
ul.nav.child-menu {
	left: 100%;
	position: absolute;
	top: 0;
	width: 210px;
	z-index: 4000;
	background: #3e5367;
	display: none;
}
ul.nav.child-menu ul {
	position: static;
	width: 200px;
	background: 0 0;
}
ul.nav.child-menu li {
	padding: 0 10px;
}
ul.nav.child-menu li a {
	text-align: left !important;
}
.nav.side-menu > li {
	position: relative;
	display: block;
	cursor: pointer;
	margin: 0px 0px 10px 0px;
}
.nav.side-menu > li > a:hover {
	color: #f2f5f7 !important;
}
.nav > li > a:focus,
.nav.side-menu > li > a:hover {
	text-decoration: none;
	background: 0 0;
}
.nav.child-menu {
	display: none;
}
.nav.child-menu li.active,
.nav.child-menu li:hover {
	background-color: rgba(255, 255, 255, 0.06);
}
.nav.child-menu > li > a,
.nav.side-menu > li > a {
	color: #e7e7e7;
	font-weight: 500;
}
.nav.child-menu li li.active,
.nav.child-menu li li:hover {
	background: 0 0;
}
.nav.child-menu li li a.active,
.nav.child-menu li li a:hover {
	color: #fff;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 13px 15px 12px;
}
.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
	border-right: 5px solid #1abb9c;
}
.nav li.current-page {
	background: rgba(255, 255, 255, 0.05);
}
.nav li li li.current-page {
	background: 0 0;
}
.nav li li.current-page a {
	color: #fff;
}
.nav.side-menu > li.active > a {
	text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
	background: linear-gradient(#334556, #2c4257), #2a3f54;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}
.nav > li > a:focus,
.nav > li > a:hover {
	background-color: transparent;
}
.nav.child-menu > li > a {
	color: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	padding: 9px;
}

/** pg-grid ***************************************************************************************/
.pq-grid {
	font-size: 0.8rem;
}
.pq-grid-cell,
.pq-grid-header,
.pq-grid-number-cell {
	text-align: center;
}
.pq-grid > .pq-grid-top {
	height: 35px;
}
.pq-grid-cell {
	height: 35px;
}
