<!DOCTYPE html>
<html class="bg-cover-5">

  <!-- head --------------------------------------------------------------------------------------->
  <head lang="en, ko">
    <title>cores dash</title>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- css -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/vendor.min.css" />
    <link rel="stylesheet" href="assets/css/app.min.css" />
    <!-- js local -->
    <script defer src="assets/js/vendor.min.js"></script>
    <script defer src="assets/js/app.min.js"></script>
    <script defer src="assets/js/cores3.js"></script>
    <!-- js cdn -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  </head>

  <!-- body --------------------------------------------------------------------------------------->
  <body class="theme-cyan">
    <div id="app" class="app">
      <div id="content" class="" style="margin: 1.3%">
        <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>

        <!-- header ------------------------------------------------------------------------------->
        <div id="header" class="app-header">
          <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </button>
          </div>
          <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade">
            <i class="fa fa-arrow-up"></i>
          </a>
          <div class="brand" style="margin-left: -1%">
            <a href="cores3.html" class="brand-logo">
              <img src="assets/imgs/logo/logo.png" width="131.1471.px" height="27.81135px" />
            </a>
          </div>
          <div class="menu">
            <div class="menu-item dropdown">
              <a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app" class="menu-link">
                <div class="menu-icon">
                  <i class="bi bi-search nav-icon"></i>
                </div>
              </a>
            </div>
            <div class="menu-item dropdown dropdown-mobile-full">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-icon">
                  <i class="bi bi-grid-3x3-gap nav-icon"></i>
                </div>
              </a>
              <div class="dropdown-menu fade dropdown-menu-end w-300px text-center p-0 mt-1"></div>
            </div>
            <div class="menu-item dropdown dropdown-mobile-full">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-icon">
                  <i class="bi bi-bell nav-icon"></i>
                </div>
                <div class="menu-badge bg-theme"></div>
              </a>
              <div class="dropdown-menu dropdown-menu-end mt-1 w-300px fs-11px pt-1">
                <h6 class="dropdown-header fs-10px mb-1">NOTIFICATIONS</h6>
                <div class="dropdown-divider mt-1"></div>
                <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap">
                  <div class="fs-20px">
                    <i class="bi bi-bag text-theme"></i>
                  </div>
                  <div class="flex-1 flex-wrap ps-3">
                    <div class="mb-1 text-white">NEW ORDER RECEIVED ($1,299)</div>
                    <div class="small">JUST NOW</div>
                  </div>
                  <div class="ps-2 fs-16px">
                    <i class="bi bi-chevron-right"></i>
                  </div>
                </a>
                <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap">
                  <div class="fs-20px w-20px">
                    <i class="bi bi-person-circle text-theme"></i>
                  </div>
                  <div class="flex-1 flex-wrap ps-3">
                    <div class="mb-1 text-white">3 NEW ACCOUNT CREATED</div>
                    <div class="small">2 MINUTES AGO</div>
                  </div>
                  <div class="ps-2 fs-16px">
                    <i class="bi bi-chevron-right"></i>
                  </div>
                </a>
                <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap">
                  <div class="fs-20px w-20px">
                    <i class="bi bi-gear text-theme"></i>
                  </div>
                  <div class="flex-1 flex-wrap ps-3">
                    <div class="mb-1 text-white">SETUP COMPLETED</div>
                    <div class="small">3 MINUTES AGO</div>
                  </div>
                  <div class="ps-2 fs-16px">
                    <i class="bi bi-chevron-right"></i>
                  </div>
                </a>
                <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap">
                  <div class="fs-20px w-20px">
                    <i class="bi bi-grid text-theme"></i>
                  </div>
                  <div class="flex-1 flex-wrap ps-3">
                    <div class="mb-1 text-white">WIDGET INSTALLATION DONE</div>
                    <div class="small">5 MINUTES AGO</div>
                  </div>
                  <div class="ps-2 fs-16px">
                    <i class="bi bi-chevron-right"></i>
                  </div>
                </a>
                <a href="#" class="d-flex align-items-center py-10px dropdown-item text-wrap">
                  <div class="fs-20px w-20px">
                    <i class="bi bi-credit-card text-theme"></i>
                  </div>
                  <div class="flex-1 flex-wrap ps-3">
                    <div class="mb-1 text-white">PAYMENT METHOD ENABLED</div>
                    <div class="small">10 MINUTES AGO</div>
                  </div>
                  <div class="ps-2 fs-16px">
                    <i class="bi bi-chevron-right"></i>
                  </div>
                </a>
                <hr class="bg-white-transparent-5 mb-0 mt-2" />
                <div class="py-10px mb-n2 text-center">
                  <a href="#" class="text-decoration-none fw-bold">SEE ALL</a>
                </div>
              </div>
            </div>
            <div class="menu-item dropdown dropdown-mobile-full">
              <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-img online">
                  <img src="assets/imgs/user/profile.jpg" alt="Profile" height="60" />
                </div>
                <div class="menu-text d-sm-block d-none">lspyi@coresinc.co.kr</div>
              </a>
              <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
                <a class="dropdown-item d-flex align-items-center" href="profile.html">
                  PROFILE
                  <i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="email_inbox.html">
                  INBOX
                  <i class="bi bi-envelope ms-auto text-theme fs-16px my-n1"></i>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="calendar.html">
                  CALENDAR
                  <i class="bi bi-calendar ms-auto text-theme fs-16px my-n1"></i>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="settings.html">
                  SETTINGS
                  <i class="bi bi-gear ms-auto text-theme fs-16px my-n1"></i>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" href="page_login.html">
                  LOGOUT
                  <i class="bi bi-toggle-off ms-auto text-theme fs-16px my-n1"></i>
                </a>
              </div>
            </div>
          </div>
          <form class="menu-search" method="POST" name="header_search_form">
            <div class="menu-search-container">
              <div class="menu-search-icon"><i class="bi bi-search"></i></div>
              <div class="menu-search-input">
                <input type="text" class="form-control form-control-lg" placeholder="Search menu" />
              </div>
              <div class="menu-search-icon">
                <a href="#" data-toggle-class="app-header-menu-search-toggled" data-toggle-target=".app"><i class="bi bi-x-lg"></i></a>
              </div>
            </div>
          </form>
        </div>
        <!-- /.header -->

        <!-- row 1 -------------------------------------------------------------------------------->
        <div class="row" data-masonry='{"percentPosition":true}'>

          <!-- col 1 -->
          <div class="col-xl-4 col-lg-6 mb-4" style="height: 21.5rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small">
                  <span class="flex-grow-1 fs-14px">금일 출고 예정</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                </div>
                <div class="row">
                  <div class="col-12 float-sm-start">
                    <div class="row align-items-center">
                      <h5 class="mb-0">
                        <small class="fw-600 ms-auto" style="font-size: 40px">4,664</small> 건
                        <small class="h3"> 예정</small>
                        <small class="fw-400 float-md-end h3 text-theme" style="margin-top: 0.7rem">+98%</small>
                      </h5>
                    </div>
                  </div>
                </div>
                <hr class="opacity-3 my-2 mx-n3" />
                <div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>MOLDE CORE SHEEY 1</div>
                      <div class="small text-white text-opacity-50">55 session</div>
                    </div>
                    <div class="col-3 text-center">1,753</div>
                    <div class="col-3 text-center"><span class="text-danger">-</span> 5%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>PLUG CORE SHEET 1</div>
                      <div class="small text-white text-opacity-50">25 session</div>
                    </div>
                    <div class="col-3 text-center">1,122</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 82%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>52 FORMING PUNCH</div>
                      <div class="small text-white text-opacity-50">5 session</div>
                    </div>
                    <div class="col-3 text-center">816</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 31%</div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                    <div>MOLDE CORE SHEEY 3</div>
                    <div class="small text-white text-opacity-50">55 session</div>
                  </div>
                  <div class="col-3 text-center">801</div>
                  <div class="col-3 text-center"><span class="text-danger">-</span> 7%</div>
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                    <div>PLUG CORE SHEET 52</div>
                    <div class="small text-white text-opacity-50">25 session</div>
                  </div>
                  <div class="col-3 text-center">750</div>
                  <div class="col-3 text-center"><span class="text-theme">+</span> 25%</div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 1 -->

          <!-- col 2 -->
          <div class="col-xl-4 col-lg-6 mb-4" style="height: 21.5rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small">
                  <span class="flex-grow-1 fs-14px">금일 입고 예정</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none">
                    <i class="bi bi-fullscreen"></i>
                  </a>
                </div>
                <div class="row">
                  <div class="col-12 float-sm-start">
                    <div class="row align-items-center">
                      <h5 class="mb-0">
                        <small class="fw-600 ms-auto h1" style="font-size: 40px">5,621</small> 건
                        <small class="h3"> 예정</small>
                        <small class="fw-400 float-md-end h3 text-theme" style="margin-top: 0.7rem">+75%</small>
                      </h5>
                    </div>
                  </div>
                </div>
                <hr class="opacity-3 my-2 mx-n3" />
                <div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>56-2 FORMING PUNCH</div>
                      <div class="small text-white text-opacity-50">55 session</div>
                    </div>
                    <div class="col-3 text-center">1,589</div>
                    <div class="col-3 text-center"><span class="text-danger">-</span> 12%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>FORMING PUNCH 65</div>
                      <div class="small text-white text-opacity-50">55 session</div>
                    </div>
                    <div class="col-3 text-center">1,426</div>
                    <div class="col-3 text-center"><span class="text-danger">-</span> 8%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>JAW 32-9</div>
                      <div class="small text-white text-opacity-50">25 session</div>
                    </div>
                    <div class="col-3 text-center">1,254</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 38%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>JAW</div>
                      <div class="small text-white text-opacity-50">25 session</div>
                    </div>
                    <div class="col-3 text-center">1,034</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 31%</div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div>GEN5.2 OPB-06 DIE PLATE</div>
                      <div class="small text-white text-opacity-50">5 session</div>
                    </div>
                    <div class="col-3 text-center">988</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 74%</div>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 2 -->

          <!-- col 3 -->
          <div class="col-xl-4 col-lg-6 mb-4" style="height: 21.5rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small">
                  <span class="flex-grow-1 fs-14px">금일 출하 예정</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                </div>
                <div class="row">
                  <div class="col-12 float-sm-start">
                    <div class="row align-items-center">
                      <h5 class="mb-0">
                        <small class="fw-600 ms-auto" style="font-size: 40px">2,864</small> 건
                        <small class="h3"> 예정</small>
                        <small class="fw-400 float-md-end h3 text-theme" style="margin-top: 0.7rem">+32%</small>
                      </h5>
                    </div>
                  </div>
                </div>
                <hr class="opacity-3 my-2 mx-n3" />
                <div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>대형 카트리지-1</div>
                      <div class="small text-white text-opacity-50">55 session</div>
                    </div>
                    <div class="col-3 text-center">1,865</div>
                    <div class="col-3 text-center"><span class="text-danger">-</span> 15%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>LA005-00-0L16-003_C</div>
                      <div class="small text-white text-opacity-50">25 session</div>
                    </div>
                    <div class="col-3 text-center">1,601</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 21%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>56-2 FORMING PUNCH</div>
                      <div class="small text-white text-opacity-50">55 session</div>
                    </div>
                    <div class="col-3 text-center">1,589</div>
                    <div class="col-3 text-center"><span class="text-danger">-</span> 12%</div>
                  </div>
                  <div class="row mb-2">
                    <div class="col-6">
                      <div>JAW</div>
                      <div class="small text-white text-opacity-50">25 session</div>
                    </div>
                    <div class="col-3 text-center">1,034</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 31%</div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div>PLUG CORE SHEET 1</div>
                      <div class="small text-white text-opacity-50">5 session</div>
                    </div>
                    <div class="col-3 text-center">889</div>
                    <div class="col-3 text-center"><span class="text-theme">+</span> 45%</div>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 3 -->
        </div>
        <!-- /.row 1 -->

        <!-- row 2 -------------------------------------------------------------------------------->
        <div class="row" data-masonry='{"percentPosition":true}'>
          <!-- col 1 -->
          <div class="col-xl-3 col-lg-3 mb-4" style="height: 15rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small">
                  <span class="flex-grow-1 fs-14px">금주 출고 현황</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                </div>
                <div class="row">
                  <div class="col-12 float-sm-start">
                    <div class="row align-items-center">
                      <h5 class="mb-0">
                        <small class="fw-600 ms-auto h1" style="font-size: 40px">5,452</small> 건
                        <small class="fw-400 float-md-end h3 text-theme" style="margin-top: 0.7rem">+2%</small>
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div style="height: 7rem; width: 7rem; margin: 0 auto; margin-top: 3%">
                      <canvas id="deliNoChat"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 1 -->

          <!-- col 2 -->
          <div class="col-xl-3 col-lg-3 mb-4" style="height: 15rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small">
                  <span class="flex-grow-1 fs-14px">금주 입고 현황</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                </div>
                <div class="row">
                  <div class="col-12 float-sm-start">
                    <div class="row align-items-center">
                      <h5 class="mb-0">
                        <small class="fw-600 ms-auto h1" style="font-size: 40px">4,864</small> 건
                        <small class="fw-400 float-md-end h3 text-theme" style="margin-top: 0.7rem">+48%</small>
                      </h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div style="height: 7rem; width: 7rem; margin: 0 auto; margin-top: 3%">
                        <canvas id="expectChat"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 2 -->

          <!-- col 3 -->
          <div class="col-xl-3 col-lg-3 mb-4" style="height: 15rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small mb-3">
                  <span class="flex-grow-1 fs-14px">안전 재고 알림</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-borderless mb-2px small text-nowrap">
                    <tbody>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center">
                            <i class="bi bi-circle-fill fs-6px text-theme me-2"></i>
                            MOLDE CORE SHEEY 1
                          </span>
                        </td>
                        <td>
                          <div style="text-align: right; padding-right: 20%">221</div>
                        </td>
                        <td>
                          <span class="badge d-block bg-theme text-theme-900 rounded-0 pt-5px w-70px fw-1000 float-end" style="min-height: 18px">
                            +49.34%
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center"><i class="bi bi-circle-fill fs-6px text-white-transparent-3 me-2"></i>52 FORMING PUNCH</span>
                        </td>
                        <td><div style="text-align: right; padding-right: 20%">105</div></td>
                        <td>
                          <span class="badge d-block bg-white bg-opacity-25 rounded-0 pt-5px w-70px float-end" style="min-height: 18px">+17.34%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center"><i class="bi bi-circle-fill fs-6px text-theme me-2"></i>PLUG CORE SHEET 1</span>
                        </td>
                        <td><div style="text-align: right; padding-right: 20%">355</div></td>
                        <td>
                          <span class="badge d-block bg-theme text-theme-900 rounded-0 pt-5px w-70px fw-1000 float-end" style="min-height: 18px">+6.16%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center"><i class="bi bi-circle-fill fs-6px text-white-transparent-3 me-2"></i>GEN5.2 OPB-06 DIE PLATE</span>
                        </td>
                        <td><div style="text-align: right; padding-right: 20%">307</div></td>
                        <td>
                          <span class="badge d-block bg-white bg-opacity-25 rounded-0 pt-5px w-70px float-end" style="min-height: 18px">+5.34%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center"><i class="bi bi-circle-fill fs-6px text-theme me-2"></i>JAW</span>
                        </td>
                        <td><div style="text-align: right; padding-right: 20%">290</div></td>
                        <td>
                          <span class="badge d-block bg-theme text-theme-900 rounded-0 pt-5px w-70px fw-1000 float-end" style="min-height: 18px">+5.03%</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 3 -->

          <!-- col 4 -->
          <div class="col-xl-3 col-lg-3 mb-4" style="height: 15rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex fw-bold small mb-3">
                  <span class="flex-grow-1 fs-14px">관심 제품 재고 현황</span>
                  <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none">
                    <i class="bi bi-fullscreen"></i>
                  </a>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-borderless mb-2px small text-nowrap">
                    <tbody>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center">
                            <i class="bi bi-circle-fill fs-6px text-theme me-2"></i>
                            LA005-00-0L16-004_C
                          </span>
                        </td>
                        <td><div style="text-align: right; padding-right: 20%">1,539</div></td>
                        <td>
                          <span class="badge d-block bg-theme text-theme-900 rounded-0 pt-5px w-70px fw-1000 float-end" style="min-height: 18px">+49.34%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center">
                            <i class="bi bi-circle-fill fs-6px text-white-transparent-3 me-2"></i>
                            대형 카트리지-1
                          </span>
                        </td>
                        <td>
                          <div style="text-align: right; padding-right: 20%">2,245</div>
                        </td>
                        <td>
                          <span class="badge d-block bg-white bg-opacity-25 rounded-0 pt-5px w-70px float-end" style="min-height: 18px">+17.34%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center">
                            <i class="bi bi-circle-fill fs-6px text-theme me-2"></i>
                            56-2 FORMING PUNCH
                          </span>
                        </td>
                        <td>
                          <div style="text-align: right; padding-right: 20%">3,752</div>
                        </td>
                        <td>
                          <span class="badge d-block bg-theme text-theme-900 rounded-0 pt-5px w-70px fw-1000 float-end" style="min-height: 18px">+6.16%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center">
                            <i class="bi bi-circle-fill fs-6px text-white-transparent-3 me-2"></i>PLUG CORE SHEET 1
                          </span>
                        </td>
                        <td>
                          <div style="text-align: right; padding-right: 20%">799</div>
                        </td>
                        <td>
                          <span class="badge d-block bg-white bg-opacity-25 rounded-0 pt-5px w-70px float-end" style="min-height: 18px">+5.34%</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="d-flex align-items-center">
                            <i class="bi bi-circle-fill fs-6px text-theme me-2"></i>
                            MOLDE CORE SHEEY 1
                          </span>
                        </td>
                        <td>
                          <div style="text-align: right; padding-right: 20%">290</div>
                        </td>
                        <td>
                          <span class="badge d-block bg-theme text-theme-900 rounded-0 pt-5px w-70px fw-1000 float-end" style="min-height: 18px">+5.03%</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 4 -->
        </div>
        <!-- /.row 2 -->

        <!-- row 3 -------------------------------------------------------------------------------->
        <div class="row" data-masonry='{"percentPosition":true}'>
          <!-- col 1 -->
          <div class="col-xl-6 col-lg-6 mb-4" style="height: 20rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <div class="flex-fill fw-bold fs-14px">주간 출고 현황</div>
                  <a href="#" class="text-decoration-none text-white text-opacity-50">View report</a>
                </div>
                <div class="d-flex align-items-center">
                  <div class="h5">금일 <small style="font-size: 35px">21</small><small style="font-size: 25px"> / 355</small> 건</div>
                  <small class="fw-400 ms-auto text-danger h4"><small style="font-size: 17px; color: #ffffff">전일대비</small> -34</small>
                </div>
                <hr class="opacity-3 my-2 mx-n3" />
                <div class="col-2 float-sm-start">
                  <div class="col-2 float-sm-start">
                    <div id="outChart" style="position: relative; height: 19vh; width: 46.5vw"></div>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 1 -->

          <!-- col 2 -->
          <div class="col-xl-6 col-lg-6 mb-4" style="height: 20rem">
            <div class="card" style="height: 100%">
              <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                  <div class="flex-fill fw-bold fs-14px">주간 입고 현황</div>
                  <a href="#" class="text-decoration-none text-white text-opacity-50">View report</a>
                </div>
                <div class="d-flex align-items-center">
                  <div class="h5">
                    금일
                    <small style="font-size: 35px">35</small>
                    <small style="font-size: 25px">
                      / 278
                    </small>
                    건
                  </div>
                  <small class="fw-400 ms-auto text-danger h4"><small style="font-size: 17px; color: #ffffff">전일대비</small> -5</small>
                </div>
                <hr class="opacity-3 my-2 mx-n3" />
                <div class="col-2 float-sm-start">
                  <div class="col-2 float-sm-start">
                    <div id="inChart" style="position: relative; height: 19vh; width: 46.5vw"></div>
                  </div>
                </div>
              </div>
              <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
              </div>
            </div>
          </div>
          <!-- /.col 2 -->
        </div>
        <!-- /.row 3 -->

      </div>
    </div>

    <div id="footer" style="margin-left: 1.5%; margin-top: -1.7%">
      © 2023 CORES Inc. All Right Reserved
    </div>

  </body>
  <!-- /.body -->
</html>
<!-- /.html -->
