#search01 {
    margin-left:10px;
    margin-top: 10px;
    width: 820px;
    height: 35px;
    color: #FFF;
    font-size: 11pt;
    background-color: #F2F2F2;
    border: 1px #CCC solid;
    border-radius: 5px;
}

#search01 .normal {
    float: left;
    margin: 5px 0 0 20px;
    width: 160px;
    height: 20px;

}

#search01 select {
    width: 100px;
}

#companyForm {
    float: right;
    width: 355px;
    height: 670px;
    margin:10px 10px 0 0;
}


#companyForm .compFormGroup {
    width: 355px;
    background-color: #F9F9F9;
    border: 1px #CCC solid;
    border-radius: 5px;
}

#companyForm .compFormGroup .compTitle {
    float: left;
    width: 90px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 0 7px;
    border: 1px #999 solid;
}

#companyForm .compFormGroup .compInput {
    float: left;
    width: 245px;
    height: 20px;
    text-align: left;
    margin: 5px 5px 0 0;
    border: 1px #F9F9F9 solid;
}

#companyForm .compFormGroup input {
    height: 17px;
    margin-left: 5px;
    ime-mode:auto;
    background-color: #FFF;
    border: 1px #F9F9F9 outset;
    font-size: 12px;
}

#companyForm .compFormGroup textarea {
    font-family: "맑은 고딕";
    height: 17px;
    margin-left: 5px;
    ime-mode:auto;
    background-color: #FFF;
    border: 1px #F9F9F9 outset;
    font-size: 12px;
}

#companyForm .compFormGroup select {
    background-color:#FFF;
    margin-left:5px;
    font-size: 12px;
    height: 20px;
    width: 70px;
    border: 1px #F9F9F9 outset;
}