#search01 {
    margin-left:10px;
    margin-top: 10px;
    width: 820px;
    height: 35px;
    color: #FFF;
    font-size: 11pt;
    background-color: #F2F2F2;
    border: 1px #CCC solid;
    border-radius: 5px;
}

#search01 .normal {
    float: left;
    margin: 5px 0 0 20px;
    width: 700px;
    height: 20px;
    color: #333;
    font-size:10pt;
}

#search01 select {
    width: 120px;
}

#saveForm {
    float: right;
    width: 300px;
    height: 370px;
    margin:10px 10px 0 0;
}


#saveForm .frmGroup {
    width: 300px;
    background-color: #F9F9F9;
    border: 1px #CCC solid;
    border-radius: 5px;
}

#saveForm .frmGroup .frmTitle {
    float: left;
    width: 85px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 5px 0 0 7px;
    border: 1px #999 solid;
}

#saveForm .frmGroup .frmInput {
    float: left;
    width: 185px;
    height: 20px;
    text-align: left;
    margin: 5px 5px 0 0;
    border: 1px #F9F9F9 solid;
}

#saveForm .frmGroup input {
    height: 17px;
    margin-left: 5px;
    ime-mode:auto;
    background-color: #FFF;
    border: 1px #F9F9F9 outset;
    font-size: 12px;
}

#saveForm .frmGroup textarea {
    font-family: "맑은 고딕";
    height: 17px;
    margin-left: 5px;
    ime-mode:auto;
    background-color: #FFF;
    border: 1px #F9F9F9 outset;
    font-size: 12px;
}

#saveForm .frmGroup select {
    background-color:#FFF;
    margin-left:5px;
    font-size: 12px;
    height: 20px;
    width: 111px;
    border: 1px #F9F9F9 outset;
    white-space:nowrap;
}

#_shadowPop {
    width: 324px;
    height: 265px;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 2;
}

#_shadowPop #_popTop {
    width: 320px;
    height: 25px;
    text-align: right;
    background: linear-gradient( to bottom, #CBDDEE, #186096 );
    border: 1px #82BBF5 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
}

#_shadowPop #_popTop div {
    float: left;
    color: #FFF;
    font-weight: bold;
    padding-left: 15px;
}

#_shadowPop #_popBody {
    width: 312px;
    height: 234px;
    text-align: right;
    background-color: #FCF6CB;
    border-left: 5px #CBDDEE solid;
    border-right: 5px #CBDDEE solid;
    border-bottom: 5px #CBDDEE solid;
}

#_shadowPop #_popBody .popGroup {
    width: 300px;
    margin: 0 5px 0 5px;
    background-color: #F9F9F9;
    border: 1px #CCC solid;
    border-radius: 5px;
}

#_shadowPop #_popBody .popTitle {
    float: left;
    width: 90px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 3px 0 0 7px;
    border: 1px #999 solid;
}

#_shadowPop #_popBody .popInput {
    float: left;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 3px 5px 0 0;
    border: 1px #F9F9F9 solid;
}

#_shadowPop #_popBody input {
    height: 16px;
    margin-left: 5px;
    ime-mode:disabled;
    background-color: #FFF;
    border: 1px #F9F9F9 outset;
    font-size: 12px;
}

#_shadowPop #_popBody select {
    background-color:#FFF;
    margin-left:5px;
    font-size: 12px;
    height: 20px;
    width: 150px;
    border: 1px #F9F9F9 outset;
}

#_shadowPop #_popBody textarea {
    background-color:#FFF;
    font-family: "맑은 고딕";
    margin-left:5px;
    font-size: 12px;
    border: 1px #F9F9F9 outset;
}


#_shadowPop2 {
    width: 324px;
    height: 310px;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 2;
}

#_shadowPop2 #_popTop2 {
    width: 320px;
    height: 25px;
    text-align: right;
    background: linear-gradient( to bottom, #CBDDEE, #186096 );
    border: 1px #82BBF5 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
}

#_shadowPop2 #_popTop2 div {
    float: left;
    color: #FFF;
    font-weight: bold;
    padding-left: 15px;
}

#_shadowPop2 #_popBody2 {
    width: 312px;
    height: 275px;
    text-align: right;
    background-color: #FCF6CB;
    border-left: 5px #CBDDEE solid;
    border-right: 5px #CBDDEE solid;
    border-bottom: 5px #CBDDEE solid;
}

#_shadowPop2 #_popBody2 .popGroup {
    width: 300px;
    margin: 0 5px 0 5px;
    background-color: #F9F9F9;
    border: 1px #CCC solid;
    border-radius: 5px;
}

#_shadowPop2 #_popBody2 .popTitle {
    float: left;
    width: 70px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 3px 0 0 7px;
    border: 1px #999 solid;
}

#_shadowPop2 #_popBody2 .popInput {
    float: left;
    width: 200px;
    height: 20px;
    text-align: left;
    margin: 3px 5px 0 0;
    border: 1px #F9F9F9 solid;
}

#_shadowPop2 #_popBody2 input {
    height: 16px;
    margin-left: 5px;
    ime-mode:disabled;
    background-color: #FFF;
    border: 1px #F9F9F9 outset;
    font-size: 12px;
}

#_shadowPop2 #_popBody2 select {
    background-color:#FFF;
    margin-left:5px;
    font-size: 12px;
    height: 20px;
    width: 150px;
    border: 1px #F9F9F9 outset;
}

#_shadowPop2 #_popBody2 textarea {
    background-color:#FFF;
    font-family: "맑은 고딕";
    margin-left:5px;
    font-size: 12px;
    border: 1px #F9F9F9 outset;
}