.w-0 {width: 0% !important;}
.w-1 {width: 1% !important;}
.w-2 {width: 2% !important;}
.w-3 {width: 3% !important;}
.w-4 {width: 4% !important;}
.w-5 {width: 5% !important;}
.w-6 {width: 6% !important;}
.w-7 {width: 7% !important;}
.w-8 {width: 8% !important;}
.w-9 {width: 9% !important;}
.w-10 {width: 10% !important;}
.w-11 {width: 11% !important;}
.w-12 {width: 12% !important;}
.w-13 {width: 13% !important;}
.w-14 {width: 14% !important;}
.w-15 {width: 15% !important;}
.w-16 {width: 16% !important;}
.w-17 {width: 17% !important;}
.w-18 {width: 18% !important;}
.w-19 {width: 19% !important;}
.w-20 {width: 20% !important;}
.w-21 {width: 21% !important;}
.w-22 {width: 22% !important;}
.w-23 {width: 23% !important;}
.w-24 {width: 24% !important;}
.w-25 {width: 25% !important;}
.w-26 {width: 26% !important;}
.w-27 {width: 27% !important;}
.w-28 {width: 28% !important;}
.w-29 {width: 29% !important;}
.w-30 {width: 30% !important;}
.w-31 {width: 31% !important;}
.w-32 {width: 32% !important;}
.w-33 {width: 33% !important;}
.w-34 {width: 34% !important;}
.w-35 {width: 35% !important;}
.w-36 {width: 36% !important;}
.w-37 {width: 37% !important;}
.w-38 {width: 38% !important;}
.w-39 {width: 39% !important;}
.w-40 {width: 40% !important;}
.w-41 {width: 41% !important;}
.w-42 {width: 42% !important;}
.w-43 {width: 43% !important;}
.w-44 {width: 44% !important;}
.w-45 {width: 45% !important;}
.w-46 {width: 46% !important;}
.w-47 {width: 47% !important;}
.w-48 {width: 48% !important;}
.w-49 {width: 49% !important;}
.w-50 {width: 50% !important;}
.w-51 {width: 51% !important;}
.w-52 {width: 52% !important;}
.w-53 {width: 53% !important;}
.w-54 {width: 54% !important;}
.w-55 {width: 55% !important;}
.w-56 {width: 56% !important;}
.w-57 {width: 57% !important;}
.w-58 {width: 58% !important;}
.w-59 {width: 59% !important;}
.w-60 {width: 60% !important;}
.w-61 {width: 61% !important;}
.w-62 {width: 62% !important;}
.w-63 {width: 63% !important;}
.w-64 {width: 64% !important;}
.w-65 {width: 65% !important;}
.w-66 {width: 66% !important;}
.w-67 {width: 67% !important;}
.w-68 {width: 68% !important;}
.w-69 {width: 69% !important;}
.w-70 {width: 70% !important;}
.w-71 {width: 71% !important;}
.w-72 {width: 72% !important;}
.w-73 {width: 73% !important;}
.w-74 {width: 74% !important;}
.w-75 {width: 75% !important;}
.w-76 {width: 76% !important;}
.w-77 {width: 77% !important;}
.w-78 {width: 78% !important;}
.w-79 {width: 79% !important;}
.w-80 {width: 80% !important;}
.w-81 {width: 81% !important;}
.w-82 {width: 82% !important;}
.w-83 {width: 83% !important;}
.w-84 {width: 84% !important;}
.w-85 {width: 85% !important;}
.w-86 {width: 86% !important;}
.w-87 {width: 87% !important;}
.w-88 {width: 88% !important;}
.w-89 {width: 89% !important;}
.w-90 {width: 90% !important;}
.w-91 {width: 91% !important;}
.w-92 {width: 92% !important;}
.w-93 {width: 93% !important;}
.w-94 {width: 94% !important;}
.w-95 {width: 95% !important;}
.w-96 {width: 96% !important;}
.w-97 {width: 97% !important;}
.w-98 {width: 98% !important;}
.w-99 {width: 99% !important;}
.w-100 {width: 100% !important;}

.h-0 {height: 0% !important;}
.h-1 {height: 1% !important;}
.h-2 {height: 2% !important;}
.h-3 {height: 3% !important;}
.h-4 {height: 4% !important;}
.h-5 {height: 5% !important;}
.h-6 {height: 6% !important;}
.h-7 {height: 7% !important;}
.h-8 {height: 8% !important;}
.h-9 {height: 9% !important;}
.h-10 {height: 10% !important;}
.h-11 {height: 11% !important;}
.h-12 {height: 12% !important;}
.h-13 {height: 13% !important;}
.h-14 {height: 14% !important;}
.h-15 {height: 15% !important;}
.h-16 {height: 16% !important;}
.h-17 {height: 17% !important;}
.h-18 {height: 18% !important;}
.h-19 {height: 19% !important;}
.h-20 {height: 20% !important;}
.h-21 {height: 21% !important;}
.h-22 {height: 22% !important;}
.h-23 {height: 23% !important;}
.h-24 {height: 24% !important;}
.h-25 {height: 25% !important;}
.h-26 {height: 26% !important;}
.h-27 {height: 27% !important;}
.h-28 {height: 28% !important;}
.h-29 {height: 29% !important;}
.h-30 {height: 30% !important;}
.h-31 {height: 31% !important;}
.h-32 {height: 32% !important;}
.h-33 {height: 33% !important;}
.h-34 {height: 34% !important;}
.h-35 {height: 35% !important;}
.h-36 {height: 36% !important;}
.h-37 {height: 37% !important;}
.h-38 {height: 38% !important;}
.h-39 {height: 39% !important;}
.h-40 {height: 40% !important;}
.h-41 {height: 41% !important;}
.h-42 {height: 42% !important;}
.h-43 {height: 43% !important;}
.h-44 {height: 44% !important;}
.h-45 {height: 45% !important;}
.h-46 {height: 46% !important;}
.h-47 {height: 47% !important;}
.h-48 {height: 48% !important;}
.h-49 {height: 49% !important;}
.h-50 {height: 50% !important;}
.h-51 {height: 51% !important;}
.h-52 {height: 52% !important;}
.h-53 {height: 53% !important;}
.h-54 {height: 54% !important;}
.h-55 {height: 55% !important;}
.h-56 {height: 56% !important;}
.h-57 {height: 57% !important;}
.h-58 {height: 58% !important;}
.h-59 {height: 59% !important;}
.h-60 {height: 60% !important;}
.h-61 {height: 61% !important;}
.h-62 {height: 62% !important;}
.h-63 {height: 63% !important;}
.h-64 {height: 64% !important;}
.h-65 {height: 65% !important;}
.h-66 {height: 66% !important;}
.h-67 {height: 67% !important;}
.h-68 {height: 68% !important;}
.h-69 {height: 69% !important;}
.h-70 {height: 70% !important;}
.h-71 {height: 71% !important;}
.h-72 {height: 72% !important;}
.h-73 {height: 73% !important;}
.h-74 {height: 74% !important;}
.h-75 {height: 75% !important;}
.h-76 {height: 76% !important;}
.h-77 {height: 77% !important;}
.h-78 {height: 78% !important;}
.h-79 {height: 79% !important;}
.h-80 {height: 80% !important;}
.h-81 {height: 81% !important;}
.h-82 {height: 82% !important;}
.h-83 {height: 83% !important;}
.h-84 {height: 84% !important;}
.h-85 {height: 85% !important;}
.h-86 {height: 86% !important;}
.h-87 {height: 87% !important;}
.h-88 {height: 88% !important;}
.h-89 {height: 89% !important;}
.h-90 {height: 90% !important;}
.h-91 {height: 91% !important;}
.h-92 {height: 92% !important;}
.h-93 {height: 93% !important;}
.h-94 {height: 94% !important;}
.h-95 {height: 95% !important;}
.h-96 {height: 96% !important;}
.h-97 {height: 97% !important;}
.h-98 {height: 98% !important;}
.h-99 {height: 99% !important;}
.h-100 {height: 100% !important;}

.p-0 {padding: 0px !important;}
.p-1 {padding: 1px !important;}
.p-2 {padding: 2px !important;}
.p-3 {padding: 3px !important;}
.p-4 {padding: 4px !important;}
.p-5 {padding: 5px !important;}
.p-6 {padding: 6px !important;}
.p-7 {padding: 7px !important;}
.p-8 {padding: 8px !important;}
.p-9 {padding: 9px !important;}
.p-10 {padding: 10px !important;}
.p-11 {padding: 11px !important;}
.p-12 {padding: 12px !important;}
.p-13 {padding: 13px !important;}
.p-14 {padding: 14px !important;}
.p-15 {padding: 15px !important;}
.p-16 {padding: 16px !important;}
.p-17 {padding: 17px !important;}
.p-18 {padding: 18px !important;}
.p-19 {padding: 19px !important;}
.p-20 {padding: 20px !important;}
.p-21 {padding: 21px !important;}
.p-22 {padding: 22px !important;}
.p-23 {padding: 23px !important;}
.p-24 {padding: 24px !important;}
.p-25 {padding: 25px !important;}
.p-26 {padding: 26px !important;}
.p-27 {padding: 27px !important;}
.p-28 {padding: 28px !important;}
.p-29 {padding: 29px !important;}
.p-30 {padding: 30px !important;}
.p-31 {padding: 31px !important;}
.p-32 {padding: 32px !important;}
.p-33 {padding: 33px !important;}
.p-34 {padding: 34px !important;}
.p-35 {padding: 35px !important;}
.p-36 {padding: 36px !important;}
.p-37 {padding: 37px !important;}
.p-38 {padding: 38px !important;}
.p-39 {padding: 39px !important;}
.p-40 {padding: 40px !important;}
.p-41 {padding: 41px !important;}
.p-42 {padding: 42px !important;}
.p-43 {padding: 43px !important;}
.p-44 {padding: 44px !important;}
.p-45 {padding: 45px !important;}
.p-46 {padding: 46px !important;}
.p-47 {padding: 47px !important;}
.p-48 {padding: 48px !important;}
.p-49 {padding: 49px !important;}
.p-50 {padding: 50px !important;}
.p-51 {padding: 51px !important;}
.p-52 {padding: 52px !important;}
.p-53 {padding: 53px !important;}
.p-54 {padding: 54px !important;}
.p-55 {padding: 55px !important;}
.p-56 {padding: 56px !important;}
.p-57 {padding: 57px !important;}
.p-58 {padding: 58px !important;}
.p-59 {padding: 59px !important;}
.p-60 {padding: 60px !important;}
.p-61 {padding: 61px !important;}
.p-62 {padding: 62px !important;}
.p-63 {padding: 63px !important;}
.p-64 {padding: 64px !important;}
.p-65 {padding: 65px !important;}
.p-66 {padding: 66px !important;}
.p-67 {padding: 67px !important;}
.p-68 {padding: 68px !important;}
.p-69 {padding: 69px !important;}
.p-70 {padding: 70px !important;}
.p-71 {padding: 71px !important;}
.p-72 {padding: 72px !important;}
.p-73 {padding: 73px !important;}
.p-74 {padding: 74px !important;}
.p-75 {padding: 75px !important;}
.p-76 {padding: 76px !important;}
.p-77 {padding: 77px !important;}
.p-78 {padding: 78px !important;}
.p-79 {padding: 79px !important;}
.p-80 {padding: 80px !important;}
.p-81 {padding: 81px !important;}
.p-82 {padding: 82px !important;}
.p-83 {padding: 83px !important;}
.p-84 {padding: 84px !important;}
.p-85 {padding: 85px !important;}
.p-86 {padding: 86px !important;}
.p-87 {padding: 87px !important;}
.p-88 {padding: 88px !important;}
.p-89 {padding: 89px !important;}
.p-90 {padding: 90px !important;}
.p-91 {padding: 91px !important;}
.p-92 {padding: 92px !important;}
.p-93 {padding: 93px !important;}
.p-94 {padding: 94px !important;}
.p-95 {padding: 95px !important;}
.p-96 {padding: 96px !important;}
.p-97 {padding: 97px !important;}
.p-98 {padding: 98px !important;}
.p-99 {padding: 99px !important;}
.p-100 {padding: 100px !important;}

.ps-0 {padding-left: 0px !important;}
.ps-1 {padding-left: 1px !important;}
.ps-2 {padding-left: 2px !important;}
.ps-3 {padding-left: 3px !important;}
.ps-4 {padding-left: 4px !important;}
.ps-5 {padding-left: 5px !important;}
.ps-6 {padding-left: 6px !important;}
.ps-7 {padding-left: 7px !important;}
.ps-8 {padding-left: 8px !important;}
.ps-9 {padding-left: 9px !important;}
.ps-10 {padding-left: 10px !important;}
.ps-11 {padding-left: 11px !important;}
.ps-12 {padding-left: 12px !important;}
.ps-13 {padding-left: 13px !important;}
.ps-14 {padding-left: 14px !important;}
.ps-15 {padding-left: 15px !important;}
.ps-16 {padding-left: 16px !important;}
.ps-17 {padding-left: 17px !important;}
.ps-18 {padding-left: 18px !important;}
.ps-19 {padding-left: 19px !important;}
.ps-20 {padding-left: 20px !important;}
.ps-21 {padding-left: 21px !important;}
.ps-22 {padding-left: 22px !important;}
.ps-23 {padding-left: 23px !important;}
.ps-24 {padding-left: 24px !important;}
.ps-25 {padding-left: 25px !important;}
.ps-26 {padding-left: 26px !important;}
.ps-27 {padding-left: 27px !important;}
.ps-28 {padding-left: 28px !important;}
.ps-29 {padding-left: 29px !important;}
.ps-30 {padding-left: 30px !important;}
.ps-31 {padding-left: 31px !important;}
.ps-32 {padding-left: 32px !important;}
.ps-33 {padding-left: 33px !important;}
.ps-34 {padding-left: 34px !important;}
.ps-35 {padding-left: 35px !important;}
.ps-36 {padding-left: 36px !important;}
.ps-37 {padding-left: 37px !important;}
.ps-38 {padding-left: 38px !important;}
.ps-39 {padding-left: 39px !important;}
.ps-40 {padding-left: 40px !important;}
.ps-41 {padding-left: 41px !important;}
.ps-42 {padding-left: 42px !important;}
.ps-43 {padding-left: 43px !important;}
.ps-44 {padding-left: 44px !important;}
.ps-45 {padding-left: 45px !important;}
.ps-46 {padding-left: 46px !important;}
.ps-47 {padding-left: 47px !important;}
.ps-48 {padding-left: 48px !important;}
.ps-49 {padding-left: 49px !important;}
.ps-50 {padding-left: 50px !important;}
.ps-51 {padding-left: 51px !important;}
.ps-52 {padding-left: 52px !important;}
.ps-53 {padding-left: 53px !important;}
.ps-54 {padding-left: 54px !important;}
.ps-55 {padding-left: 55px !important;}
.ps-56 {padding-left: 56px !important;}
.ps-57 {padding-left: 57px !important;}
.ps-58 {padding-left: 58px !important;}
.ps-59 {padding-left: 59px !important;}
.ps-60 {padding-left: 60px !important;}
.ps-61 {padding-left: 61px !important;}
.ps-62 {padding-left: 62px !important;}
.ps-63 {padding-left: 63px !important;}
.ps-64 {padding-left: 64px !important;}
.ps-65 {padding-left: 65px !important;}
.ps-66 {padding-left: 66px !important;}
.ps-67 {padding-left: 67px !important;}
.ps-68 {padding-left: 68px !important;}
.ps-69 {padding-left: 69px !important;}
.ps-70 {padding-left: 70px !important;}
.ps-71 {padding-left: 71px !important;}
.ps-72 {padding-left: 72px !important;}
.ps-73 {padding-left: 73px !important;}
.ps-74 {padding-left: 74px !important;}
.ps-75 {padding-left: 75px !important;}
.ps-76 {padding-left: 76px !important;}
.ps-77 {padding-left: 77px !important;}
.ps-78 {padding-left: 78px !important;}
.ps-79 {padding-left: 79px !important;}
.ps-80 {padding-left: 80px !important;}
.ps-81 {padding-left: 81px !important;}
.ps-82 {padding-left: 82px !important;}
.ps-83 {padding-left: 83px !important;}
.ps-84 {padding-left: 84px !important;}
.ps-85 {padding-left: 85px !important;}
.ps-86 {padding-left: 86px !important;}
.ps-87 {padding-left: 87px !important;}
.ps-88 {padding-left: 88px !important;}
.ps-89 {padding-left: 89px !important;}
.ps-90 {padding-left: 90px !important;}
.ps-91 {padding-left: 91px !important;}
.ps-92 {padding-left: 92px !important;}
.ps-93 {padding-left: 93px !important;}
.ps-94 {padding-left: 94px !important;}
.ps-95 {padding-left: 95px !important;}
.ps-96 {padding-left: 96px !important;}
.ps-97 {padding-left: 97px !important;}
.ps-98 {padding-left: 98px !important;}
.ps-99 {padding-left: 99px !important;}
.ps-100 {padding-left: 100px !important;}

.pe-0 {padding-right: 0px !important;}
.pe-1 {padding-right: 1px !important;}
.pe-2 {padding-right: 2px !important;}
.pe-3 {padding-right: 3px !important;}
.pe-4 {padding-right: 4px !important;}
.pe-5 {padding-right: 5px !important;}
.pe-6 {padding-right: 6px !important;}
.pe-7 {padding-right: 7px !important;}
.pe-8 {padding-right: 8px !important;}
.pe-9 {padding-right: 9px !important;}
.pe-10 {padding-right: 10px !important;}
.pe-11 {padding-right: 11px !important;}
.pe-12 {padding-right: 12px !important;}
.pe-13 {padding-right: 13px !important;}
.pe-14 {padding-right: 14px !important;}
.pe-15 {padding-right: 15px !important;}
.pe-16 {padding-right: 16px !important;}
.pe-17 {padding-right: 17px !important;}
.pe-18 {padding-right: 18px !important;}
.pe-19 {padding-right: 19px !important;}
.pe-20 {padding-right: 20px !important;}
.pe-21 {padding-right: 21px !important;}
.pe-22 {padding-right: 22px !important;}
.pe-23 {padding-right: 23px !important;}
.pe-24 {padding-right: 24px !important;}
.pe-25 {padding-right: 25px !important;}
.pe-26 {padding-right: 26px !important;}
.pe-27 {padding-right: 27px !important;}
.pe-28 {padding-right: 28px !important;}
.pe-29 {padding-right: 29px !important;}
.pe-30 {padding-right: 30px !important;}
.pe-31 {padding-right: 31px !important;}
.pe-32 {padding-right: 32px !important;}
.pe-33 {padding-right: 33px !important;}
.pe-34 {padding-right: 34px !important;}
.pe-35 {padding-right: 35px !important;}
.pe-36 {padding-right: 36px !important;}
.pe-37 {padding-right: 37px !important;}
.pe-38 {padding-right: 38px !important;}
.pe-39 {padding-right: 39px !important;}
.pe-40 {padding-right: 40px !important;}
.pe-41 {padding-right: 41px !important;}
.pe-42 {padding-right: 42px !important;}
.pe-43 {padding-right: 43px !important;}
.pe-44 {padding-right: 44px !important;}
.pe-45 {padding-right: 45px !important;}
.pe-46 {padding-right: 46px !important;}
.pe-47 {padding-right: 47px !important;}
.pe-48 {padding-right: 48px !important;}
.pe-49 {padding-right: 49px !important;}
.pe-50 {padding-right: 50px !important;}
.pe-51 {padding-right: 51px !important;}
.pe-52 {padding-right: 52px !important;}
.pe-53 {padding-right: 53px !important;}
.pe-54 {padding-right: 54px !important;}
.pe-55 {padding-right: 55px !important;}
.pe-56 {padding-right: 56px !important;}
.pe-57 {padding-right: 57px !important;}
.pe-58 {padding-right: 58px !important;}
.pe-59 {padding-right: 59px !important;}
.pe-60 {padding-right: 60px !important;}
.pe-61 {padding-right: 61px !important;}
.pe-62 {padding-right: 62px !important;}
.pe-63 {padding-right: 63px !important;}
.pe-64 {padding-right: 64px !important;}
.pe-65 {padding-right: 65px !important;}
.pe-66 {padding-right: 66px !important;}
.pe-67 {padding-right: 67px !important;}
.pe-68 {padding-right: 68px !important;}
.pe-69 {padding-right: 69px !important;}
.pe-70 {padding-right: 70px !important;}
.pe-71 {padding-right: 71px !important;}
.pe-72 {padding-right: 72px !important;}
.pe-73 {padding-right: 73px !important;}
.pe-74 {padding-right: 74px !important;}
.pe-75 {padding-right: 75px !important;}
.pe-76 {padding-right: 76px !important;}
.pe-77 {padding-right: 77px !important;}
.pe-78 {padding-right: 78px !important;}
.pe-79 {padding-right: 79px !important;}
.pe-80 {padding-right: 80px !important;}
.pe-81 {padding-right: 81px !important;}
.pe-82 {padding-right: 82px !important;}
.pe-83 {padding-right: 83px !important;}
.pe-84 {padding-right: 84px !important;}
.pe-85 {padding-right: 85px !important;}
.pe-86 {padding-right: 86px !important;}
.pe-87 {padding-right: 87px !important;}
.pe-88 {padding-right: 88px !important;}
.pe-89 {padding-right: 89px !important;}
.pe-90 {padding-right: 90px !important;}
.pe-91 {padding-right: 91px !important;}
.pe-92 {padding-right: 92px !important;}
.pe-93 {padding-right: 93px !important;}
.pe-94 {padding-right: 94px !important;}
.pe-95 {padding-right: 95px !important;}
.pe-96 {padding-right: 96px !important;}
.pe-97 {padding-right: 97px !important;}
.pe-98 {padding-right: 98px !important;}
.pe-99 {padding-right: 99px !important;}
.pe-100 {padding-right: 100px !important;}

.pt-0 {padding-top: 0px !important;}
.pt-1 {padding-top: 1px !important;}
.pt-2 {padding-top: 2px !important;}
.pt-3 {padding-top: 3px !important;}
.pt-4 {padding-top: 4px !important;}
.pt-5 {padding-top: 5px !important;}
.pt-6 {padding-top: 6px !important;}
.pt-7 {padding-top: 7px !important;}
.pt-8 {padding-top: 8px !important;}
.pt-9 {padding-top: 9px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-11 {padding-top: 11px !important;}
.pt-12 {padding-top: 12px !important;}
.pt-13 {padding-top: 13px !important;}
.pt-14 {padding-top: 14px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-16 {padding-top: 16px !important;}
.pt-17 {padding-top: 17px !important;}
.pt-18 {padding-top: 18px !important;}
.pt-19 {padding-top: 19px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-21 {padding-top: 21px !important;}
.pt-22 {padding-top: 22px !important;}
.pt-23 {padding-top: 23px !important;}
.pt-24 {padding-top: 24px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-26 {padding-top: 26px !important;}
.pt-27 {padding-top: 27px !important;}
.pt-28 {padding-top: 28px !important;}
.pt-29 {padding-top: 29px !important;}
.pt-30 {padding-top: 30px !important;}
.pt-31 {padding-top: 31px !important;}
.pt-32 {padding-top: 32px !important;}
.pt-33 {padding-top: 33px !important;}
.pt-34 {padding-top: 34px !important;}
.pt-35 {padding-top: 35px !important;}
.pt-36 {padding-top: 36px !important;}
.pt-37 {padding-top: 37px !important;}
.pt-38 {padding-top: 38px !important;}
.pt-39 {padding-top: 39px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-41 {padding-top: 41px !important;}
.pt-42 {padding-top: 42px !important;}
.pt-43 {padding-top: 43px !important;}
.pt-44 {padding-top: 44px !important;}
.pt-45 {padding-top: 45px !important;}
.pt-46 {padding-top: 46px !important;}
.pt-47 {padding-top: 47px !important;}
.pt-48 {padding-top: 48px !important;}
.pt-49 {padding-top: 49px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-51 {padding-top: 51px !important;}
.pt-52 {padding-top: 52px !important;}
.pt-53 {padding-top: 53px !important;}
.pt-54 {padding-top: 54px !important;}
.pt-55 {padding-top: 55px !important;}
.pt-56 {padding-top: 56px !important;}
.pt-57 {padding-top: 57px !important;}
.pt-58 {padding-top: 58px !important;}
.pt-59 {padding-top: 59px !important;}
.pt-60 {padding-top: 60px !important;}
.pt-61 {padding-top: 61px !important;}
.pt-62 {padding-top: 62px !important;}
.pt-63 {padding-top: 63px !important;}
.pt-64 {padding-top: 64px !important;}
.pt-65 {padding-top: 65px !important;}
.pt-66 {padding-top: 66px !important;}
.pt-67 {padding-top: 67px !important;}
.pt-68 {padding-top: 68px !important;}
.pt-69 {padding-top: 69px !important;}
.pt-70 {padding-top: 70px !important;}
.pt-71 {padding-top: 71px !important;}
.pt-72 {padding-top: 72px !important;}
.pt-73 {padding-top: 73px !important;}
.pt-74 {padding-top: 74px !important;}
.pt-75 {padding-top: 75px !important;}
.pt-76 {padding-top: 76px !important;}
.pt-77 {padding-top: 77px !important;}
.pt-78 {padding-top: 78px !important;}
.pt-79 {padding-top: 79px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-81 {padding-top: 81px !important;}
.pt-82 {padding-top: 82px !important;}
.pt-83 {padding-top: 83px !important;}
.pt-84 {padding-top: 84px !important;}
.pt-85 {padding-top: 85px !important;}
.pt-86 {padding-top: 86px !important;}
.pt-87 {padding-top: 87px !important;}
.pt-88 {padding-top: 88px !important;}
.pt-89 {padding-top: 89px !important;}
.pt-90 {padding-top: 90px !important;}
.pt-91 {padding-top: 91px !important;}
.pt-92 {padding-top: 92px !important;}
.pt-93 {padding-top: 93px !important;}
.pt-94 {padding-top: 94px !important;}
.pt-95 {padding-top: 95px !important;}
.pt-96 {padding-top: 96px !important;}
.pt-97 {padding-top: 97px !important;}
.pt-98 {padding-top: 98px !important;}
.pt-99 {padding-top: 99px !important;}
.pt-100 {padding-top: 100px !important;}

.pb-0 {padding-bottom: 0px !important;}
.pb-1 {padding-bottom: 1px !important;}
.pb-2 {padding-bottom: 2px !important;}
.pb-3 {padding-bottom: 3px !important;}
.pb-4 {padding-bottom: 4px !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-6 {padding-bottom: 6px !important;}
.pb-7 {padding-bottom: 7px !important;}
.pb-8 {padding-bottom: 8px !important;}
.pb-9 {padding-bottom: 9px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-11 {padding-bottom: 11px !important;}
.pb-12 {padding-bottom: 12px !important;}
.pb-13 {padding-bottom: 13px !important;}
.pb-14 {padding-bottom: 14px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-16 {padding-bottom: 16px !important;}
.pb-17 {padding-bottom: 17px !important;}
.pb-18 {padding-bottom: 18px !important;}
.pb-19 {padding-bottom: 19px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-21 {padding-bottom: 21px !important;}
.pb-22 {padding-bottom: 22px !important;}
.pb-23 {padding-bottom: 23px !important;}
.pb-24 {padding-bottom: 24px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-26 {padding-bottom: 26px !important;}
.pb-27 {padding-bottom: 27px !important;}
.pb-28 {padding-bottom: 28px !important;}
.pb-29 {padding-bottom: 29px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pb-31 {padding-bottom: 31px !important;}
.pb-32 {padding-bottom: 32px !important;}
.pb-33 {padding-bottom: 33px !important;}
.pb-34 {padding-bottom: 34px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pb-36 {padding-bottom: 36px !important;}
.pb-37 {padding-bottom: 37px !important;}
.pb-38 {padding-bottom: 38px !important;}
.pb-39 {padding-bottom: 39px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-41 {padding-bottom: 41px !important;}
.pb-42 {padding-bottom: 42px !important;}
.pb-43 {padding-bottom: 43px !important;}
.pb-44 {padding-bottom: 44px !important;}
.pb-45 {padding-bottom: 45px !important;}
.pb-46 {padding-bottom: 46px !important;}
.pb-47 {padding-bottom: 47px !important;}
.pb-48 {padding-bottom: 48px !important;}
.pb-49 {padding-bottom: 49px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-51 {padding-bottom: 51px !important;}
.pb-52 {padding-bottom: 52px !important;}
.pb-53 {padding-bottom: 53px !important;}
.pb-54 {padding-bottom: 54px !important;}
.pb-55 {padding-bottom: 55px !important;}
.pb-56 {padding-bottom: 56px !important;}
.pb-57 {padding-bottom: 57px !important;}
.pb-58 {padding-bottom: 58px !important;}
.pb-59 {padding-bottom: 59px !important;}
.pb-60 {padding-bottom: 60px !important;}
.pb-61 {padding-bottom: 61px !important;}
.pb-62 {padding-bottom: 62px !important;}
.pb-63 {padding-bottom: 63px !important;}
.pb-64 {padding-bottom: 64px !important;}
.pb-65 {padding-bottom: 65px !important;}
.pb-66 {padding-bottom: 66px !important;}
.pb-67 {padding-bottom: 67px !important;}
.pb-68 {padding-bottom: 68px !important;}
.pb-69 {padding-bottom: 69px !important;}
.pb-70 {padding-bottom: 70px !important;}
.pb-71 {padding-bottom: 71px !important;}
.pb-72 {padding-bottom: 72px !important;}
.pb-73 {padding-bottom: 73px !important;}
.pb-74 {padding-bottom: 74px !important;}
.pb-75 {padding-bottom: 75px !important;}
.pb-76 {padding-bottom: 76px !important;}
.pb-77 {padding-bottom: 77px !important;}
.pb-78 {padding-bottom: 78px !important;}
.pb-79 {padding-bottom: 79px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-81 {padding-bottom: 81px !important;}
.pb-82 {padding-bottom: 82px !important;}
.pb-83 {padding-bottom: 83px !important;}
.pb-84 {padding-bottom: 84px !important;}
.pb-85 {padding-bottom: 85px !important;}
.pb-86 {padding-bottom: 86px !important;}
.pb-87 {padding-bottom: 87px !important;}
.pb-88 {padding-bottom: 88px !important;}
.pb-89 {padding-bottom: 89px !important;}
.pb-90 {padding-bottom: 90px !important;}
.pb-91 {padding-bottom: 91px !important;}
.pb-92 {padding-bottom: 92px !important;}
.pb-93 {padding-bottom: 93px !important;}
.pb-94 {padding-bottom: 94px !important;}
.pb-95 {padding-bottom: 95px !important;}
.pb-96 {padding-bottom: 96px !important;}
.pb-97 {padding-bottom: 97px !important;}
.pb-98 {padding-bottom: 98px !important;}
.pb-99 {padding-bottom: 99px !important;}
.pb-100 {padding-bottom: 100px !important;}

.m-0 {margin: 0px !important;}
.m-1 {margin: 1px !important;}
.m-2 {margin: 2px !important;}
.m-3 {margin: 3px !important;}
.m-4 {margin: 4px !important;}
.m-5 {margin: 5px !important;}
.m-6 {margin: 6px !important;}
.m-7 {margin: 7px !important;}
.m-8 {margin: 8px !important;}
.m-9 {margin: 9px !important;}
.m-10 {margin: 10px !important;}
.m-11 {margin: 11px !important;}
.m-12 {margin: 12px !important;}
.m-13 {margin: 13px !important;}
.m-14 {margin: 14px !important;}
.m-15 {margin: 15px !important;}
.m-16 {margin: 16px !important;}
.m-17 {margin: 17px !important;}
.m-18 {margin: 18px !important;}
.m-19 {margin: 19px !important;}
.m-20 {margin: 20px !important;}
.m-21 {margin: 21px !important;}
.m-22 {margin: 22px !important;}
.m-23 {margin: 23px !important;}
.m-24 {margin: 24px !important;}
.m-25 {margin: 25px !important;}
.m-26 {margin: 26px !important;}
.m-27 {margin: 27px !important;}
.m-28 {margin: 28px !important;}
.m-29 {margin: 29px !important;}
.m-30 {margin: 30px !important;}
.m-31 {margin: 31px !important;}
.m-32 {margin: 32px !important;}
.m-33 {margin: 33px !important;}
.m-34 {margin: 34px !important;}
.m-35 {margin: 35px !important;}
.m-36 {margin: 36px !important;}
.m-37 {margin: 37px !important;}
.m-38 {margin: 38px !important;}
.m-39 {margin: 39px !important;}
.m-40 {margin: 40px !important;}
.m-41 {margin: 41px !important;}
.m-42 {margin: 42px !important;}
.m-43 {margin: 43px !important;}
.m-44 {margin: 44px !important;}
.m-45 {margin: 45px !important;}
.m-46 {margin: 46px !important;}
.m-47 {margin: 47px !important;}
.m-48 {margin: 48px !important;}
.m-49 {margin: 49px !important;}
.m-50 {margin: 50px !important;}
.m-51 {margin: 51px !important;}
.m-52 {margin: 52px !important;}
.m-53 {margin: 53px !important;}
.m-54 {margin: 54px !important;}
.m-55 {margin: 55px !important;}
.m-56 {margin: 56px !important;}
.m-57 {margin: 57px !important;}
.m-58 {margin: 58px !important;}
.m-59 {margin: 59px !important;}
.m-60 {margin: 60px !important;}
.m-61 {margin: 61px !important;}
.m-62 {margin: 62px !important;}
.m-63 {margin: 63px !important;}
.m-64 {margin: 64px !important;}
.m-65 {margin: 65px !important;}
.m-66 {margin: 66px !important;}
.m-67 {margin: 67px !important;}
.m-68 {margin: 68px !important;}
.m-69 {margin: 69px !important;}
.m-70 {margin: 70px !important;}
.m-71 {margin: 71px !important;}
.m-72 {margin: 72px !important;}
.m-73 {margin: 73px !important;}
.m-74 {margin: 74px !important;}
.m-75 {margin: 75px !important;}
.m-76 {margin: 76px !important;}
.m-77 {margin: 77px !important;}
.m-78 {margin: 78px !important;}
.m-79 {margin: 79px !important;}
.m-80 {margin: 80px !important;}
.m-81 {margin: 81px !important;}
.m-82 {margin: 82px !important;}
.m-83 {margin: 83px !important;}
.m-84 {margin: 84px !important;}
.m-85 {margin: 85px !important;}
.m-86 {margin: 86px !important;}
.m-87 {margin: 87px !important;}
.m-88 {margin: 88px !important;}
.m-89 {margin: 89px !important;}
.m-90 {margin: 90px !important;}
.m-91 {margin: 91px !important;}
.m-92 {margin: 92px !important;}
.m-93 {margin: 93px !important;}
.m-94 {margin: 94px !important;}
.m-95 {margin: 95px !important;}
.m-96 {margin: 96px !important;}
.m-97 {margin: 97px !important;}
.m-98 {margin: 98px !important;}
.m-99 {margin: 99px !important;}
.m-100 {margin: 100px !important;}

.ms-0 {margin-left: 0px !important;}
.ms-1 {margin-left: 1px !important;}
.ms-2 {margin-left: 2px !important;}
.ms-3 {margin-left: 3px !important;}
.ms-4 {margin-left: 4px !important;}
.ms-5 {margin-left: 5px !important;}
.ms-6 {margin-left: 6px !important;}
.ms-7 {margin-left: 7px !important;}
.ms-8 {margin-left: 8px !important;}
.ms-9 {margin-left: 9px !important;}
.ms-10 {margin-left: 10px !important;}
.ms-11 {margin-left: 11px !important;}
.ms-12 {margin-left: 12px !important;}
.ms-13 {margin-left: 13px !important;}
.ms-14 {margin-left: 14px !important;}
.ms-15 {margin-left: 15px !important;}
.ms-16 {margin-left: 16px !important;}
.ms-17 {margin-left: 17px !important;}
.ms-18 {margin-left: 18px !important;}
.ms-19 {margin-left: 19px !important;}
.ms-20 {margin-left: 20px !important;}
.ms-21 {margin-left: 21px !important;}
.ms-22 {margin-left: 22px !important;}
.ms-23 {margin-left: 23px !important;}
.ms-24 {margin-left: 24px !important;}
.ms-25 {margin-left: 25px !important;}
.ms-26 {margin-left: 26px !important;}
.ms-27 {margin-left: 27px !important;}
.ms-28 {margin-left: 28px !important;}
.ms-29 {margin-left: 29px !important;}
.ms-30 {margin-left: 30px !important;}
.ms-31 {margin-left: 31px !important;}
.ms-32 {margin-left: 32px !important;}
.ms-33 {margin-left: 33px !important;}
.ms-34 {margin-left: 34px !important;}
.ms-35 {margin-left: 35px !important;}
.ms-36 {margin-left: 36px !important;}
.ms-37 {margin-left: 37px !important;}
.ms-38 {margin-left: 38px !important;}
.ms-39 {margin-left: 39px !important;}
.ms-40 {margin-left: 40px !important;}
.ms-41 {margin-left: 41px !important;}
.ms-42 {margin-left: 42px !important;}
.ms-43 {margin-left: 43px !important;}
.ms-44 {margin-left: 44px !important;}
.ms-45 {margin-left: 45px !important;}
.ms-46 {margin-left: 46px !important;}
.ms-47 {margin-left: 47px !important;}
.ms-48 {margin-left: 48px !important;}
.ms-49 {margin-left: 49px !important;}
.ms-50 {margin-left: 50px !important;}
.ms-51 {margin-left: 51px !important;}
.ms-52 {margin-left: 52px !important;}
.ms-53 {margin-left: 53px !important;}
.ms-54 {margin-left: 54px !important;}
.ms-55 {margin-left: 55px !important;}
.ms-56 {margin-left: 56px !important;}
.ms-57 {margin-left: 57px !important;}
.ms-58 {margin-left: 58px !important;}
.ms-59 {margin-left: 59px !important;}
.ms-60 {margin-left: 60px !important;}
.ms-61 {margin-left: 61px !important;}
.ms-62 {margin-left: 62px !important;}
.ms-63 {margin-left: 63px !important;}
.ms-64 {margin-left: 64px !important;}
.ms-65 {margin-left: 65px !important;}
.ms-66 {margin-left: 66px !important;}
.ms-67 {margin-left: 67px !important;}
.ms-68 {margin-left: 68px !important;}
.ms-69 {margin-left: 69px !important;}
.ms-70 {margin-left: 70px !important;}
.ms-71 {margin-left: 71px !important;}
.ms-72 {margin-left: 72px !important;}
.ms-73 {margin-left: 73px !important;}
.ms-74 {margin-left: 74px !important;}
.ms-75 {margin-left: 75px !important;}
.ms-76 {margin-left: 76px !important;}
.ms-77 {margin-left: 77px !important;}
.ms-78 {margin-left: 78px !important;}
.ms-79 {margin-left: 79px !important;}
.ms-80 {margin-left: 80px !important;}
.ms-81 {margin-left: 81px !important;}
.ms-82 {margin-left: 82px !important;}
.ms-83 {margin-left: 83px !important;}
.ms-84 {margin-left: 84px !important;}
.ms-85 {margin-left: 85px !important;}
.ms-86 {margin-left: 86px !important;}
.ms-87 {margin-left: 87px !important;}
.ms-88 {margin-left: 88px !important;}
.ms-89 {margin-left: 89px !important;}
.ms-90 {margin-left: 90px !important;}
.ms-91 {margin-left: 91px !important;}
.ms-92 {margin-left: 92px !important;}
.ms-93 {margin-left: 93px !important;}
.ms-94 {margin-left: 94px !important;}
.ms-95 {margin-left: 95px !important;}
.ms-96 {margin-left: 96px !important;}
.ms-97 {margin-left: 97px !important;}
.ms-98 {margin-left: 98px !important;}
.ms-99 {margin-left: 99px !important;}
.ms-100 {margin-left: 100px !important;}

.me-0 {margin-right: 0px !important;}
.me-1 {margin-right: 1px !important;}
.me-2 {margin-right: 2px !important;}
.me-3 {margin-right: 3px !important;}
.me-4 {margin-right: 4px !important;}
.me-5 {margin-right: 5px !important;}
.me-6 {margin-right: 6px !important;}
.me-7 {margin-right: 7px !important;}
.me-8 {margin-right: 8px !important;}
.me-9 {margin-right: 9px !important;}
.me-10 {margin-right: 10px !important;}
.me-11 {margin-right: 11px !important;}
.me-12 {margin-right: 12px !important;}
.me-13 {margin-right: 13px !important;}
.me-14 {margin-right: 14px !important;}
.me-15 {margin-right: 15px !important;}
.me-16 {margin-right: 16px !important;}
.me-17 {margin-right: 17px !important;}
.me-18 {margin-right: 18px !important;}
.me-19 {margin-right: 19px !important;}
.me-20 {margin-right: 20px !important;}
.me-21 {margin-right: 21px !important;}
.me-22 {margin-right: 22px !important;}
.me-23 {margin-right: 23px !important;}
.me-24 {margin-right: 24px !important;}
.me-25 {margin-right: 25px !important;}
.me-26 {margin-right: 26px !important;}
.me-27 {margin-right: 27px !important;}
.me-28 {margin-right: 28px !important;}
.me-29 {margin-right: 29px !important;}
.me-30 {margin-right: 30px !important;}
.me-31 {margin-right: 31px !important;}
.me-32 {margin-right: 32px !important;}
.me-33 {margin-right: 33px !important;}
.me-34 {margin-right: 34px !important;}
.me-35 {margin-right: 35px !important;}
.me-36 {margin-right: 36px !important;}
.me-37 {margin-right: 37px !important;}
.me-38 {margin-right: 38px !important;}
.me-39 {margin-right: 39px !important;}
.me-40 {margin-right: 40px !important;}
.me-41 {margin-right: 41px !important;}
.me-42 {margin-right: 42px !important;}
.me-43 {margin-right: 43px !important;}
.me-44 {margin-right: 44px !important;}
.me-45 {margin-right: 45px !important;}
.me-46 {margin-right: 46px !important;}
.me-47 {margin-right: 47px !important;}
.me-48 {margin-right: 48px !important;}
.me-49 {margin-right: 49px !important;}
.me-50 {margin-right: 50px !important;}
.me-51 {margin-right: 51px !important;}
.me-52 {margin-right: 52px !important;}
.me-53 {margin-right: 53px !important;}
.me-54 {margin-right: 54px !important;}
.me-55 {margin-right: 55px !important;}
.me-56 {margin-right: 56px !important;}
.me-57 {margin-right: 57px !important;}
.me-58 {margin-right: 58px !important;}
.me-59 {margin-right: 59px !important;}
.me-60 {margin-right: 60px !important;}
.me-61 {margin-right: 61px !important;}
.me-62 {margin-right: 62px !important;}
.me-63 {margin-right: 63px !important;}
.me-64 {margin-right: 64px !important;}
.me-65 {margin-right: 65px !important;}
.me-66 {margin-right: 66px !important;}
.me-67 {margin-right: 67px !important;}
.me-68 {margin-right: 68px !important;}
.me-69 {margin-right: 69px !important;}
.me-70 {margin-right: 70px !important;}
.me-71 {margin-right: 71px !important;}
.me-72 {margin-right: 72px !important;}
.me-73 {margin-right: 73px !important;}
.me-74 {margin-right: 74px !important;}
.me-75 {margin-right: 75px !important;}
.me-76 {margin-right: 76px !important;}
.me-77 {margin-right: 77px !important;}
.me-78 {margin-right: 78px !important;}
.me-79 {margin-right: 79px !important;}
.me-80 {margin-right: 80px !important;}
.me-81 {margin-right: 81px !important;}
.me-82 {margin-right: 82px !important;}
.me-83 {margin-right: 83px !important;}
.me-84 {margin-right: 84px !important;}
.me-85 {margin-right: 85px !important;}
.me-86 {margin-right: 86px !important;}
.me-87 {margin-right: 87px !important;}
.me-88 {margin-right: 88px !important;}
.me-89 {margin-right: 89px !important;}
.me-90 {margin-right: 90px !important;}
.me-91 {margin-right: 91px !important;}
.me-92 {margin-right: 92px !important;}
.me-93 {margin-right: 93px !important;}
.me-94 {margin-right: 94px !important;}
.me-95 {margin-right: 95px !important;}
.me-96 {margin-right: 96px !important;}
.me-97 {margin-right: 97px !important;}
.me-98 {margin-right: 98px !important;}
.me-99 {margin-right: 99px !important;}
.me-100 {margin-right: 100px !important;}

.mt-0 {margin-top: 0px !important;}
.mt-1 {margin-top: 1px !important;}
.mt-2 {margin-top: 2px !important;}
.mt-3 {margin-top: 3px !important;}
.mt-4 {margin-top: 4px !important;}
.mt-5 {margin-top: 5px !important;}
.mt-6 {margin-top: 6px !important;}
.mt-7 {margin-top: 7px !important;}
.mt-8 {margin-top: 8px !important;}
.mt-9 {margin-top: 9px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-11 {margin-top: 11px !important;}
.mt-12 {margin-top: 12px !important;}
.mt-13 {margin-top: 13px !important;}
.mt-14 {margin-top: 14px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-16 {margin-top: 16px !important;}
.mt-17 {margin-top: 17px !important;}
.mt-18 {margin-top: 18px !important;}
.mt-19 {margin-top: 19px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-21 {margin-top: 21px !important;}
.mt-22 {margin-top: 22px !important;}
.mt-23 {margin-top: 23px !important;}
.mt-24 {margin-top: 24px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-26 {margin-top: 26px !important;}
.mt-27 {margin-top: 27px !important;}
.mt-28 {margin-top: 28px !important;}
.mt-29 {margin-top: 29px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-31 {margin-top: 31px !important;}
.mt-32 {margin-top: 32px !important;}
.mt-33 {margin-top: 33px !important;}
.mt-34 {margin-top: 34px !important;}
.mt-35 {margin-top: 35px !important;}
.mt-36 {margin-top: 36px !important;}
.mt-37 {margin-top: 37px !important;}
.mt-38 {margin-top: 38px !important;}
.mt-39 {margin-top: 39px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-41 {margin-top: 41px !important;}
.mt-42 {margin-top: 42px !important;}
.mt-43 {margin-top: 43px !important;}
.mt-44 {margin-top: 44px !important;}
.mt-45 {margin-top: 45px !important;}
.mt-46 {margin-top: 46px !important;}
.mt-47 {margin-top: 47px !important;}
.mt-48 {margin-top: 48px !important;}
.mt-49 {margin-top: 49px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-51 {margin-top: 51px !important;}
.mt-52 {margin-top: 52px !important;}
.mt-53 {margin-top: 53px !important;}
.mt-54 {margin-top: 54px !important;}
.mt-55 {margin-top: 55px !important;}
.mt-56 {margin-top: 56px !important;}
.mt-57 {margin-top: 57px !important;}
.mt-58 {margin-top: 58px !important;}
.mt-59 {margin-top: 59px !important;}
.mt-60 {margin-top: 60px !important;}
.mt-61 {margin-top: 61px !important;}
.mt-62 {margin-top: 62px !important;}
.mt-63 {margin-top: 63px !important;}
.mt-64 {margin-top: 64px !important;}
.mt-65 {margin-top: 65px !important;}
.mt-66 {margin-top: 66px !important;}
.mt-67 {margin-top: 67px !important;}
.mt-68 {margin-top: 68px !important;}
.mt-69 {margin-top: 69px !important;}
.mt-70 {margin-top: 70px !important;}
.mt-71 {margin-top: 71px !important;}
.mt-72 {margin-top: 72px !important;}
.mt-73 {margin-top: 73px !important;}
.mt-74 {margin-top: 74px !important;}
.mt-75 {margin-top: 75px !important;}
.mt-76 {margin-top: 76px !important;}
.mt-77 {margin-top: 77px !important;}
.mt-78 {margin-top: 78px !important;}
.mt-79 {margin-top: 79px !important;}
.mt-80 {margin-top: 80px !important;}
.mt-81 {margin-top: 81px !important;}
.mt-82 {margin-top: 82px !important;}
.mt-83 {margin-top: 83px !important;}
.mt-84 {margin-top: 84px !important;}
.mt-85 {margin-top: 85px !important;}
.mt-86 {margin-top: 86px !important;}
.mt-87 {margin-top: 87px !important;}
.mt-88 {margin-top: 88px !important;}
.mt-89 {margin-top: 89px !important;}
.mt-90 {margin-top: 90px !important;}
.mt-91 {margin-top: 91px !important;}
.mt-92 {margin-top: 92px !important;}
.mt-93 {margin-top: 93px !important;}
.mt-94 {margin-top: 94px !important;}
.mt-95 {margin-top: 95px !important;}
.mt-96 {margin-top: 96px !important;}
.mt-97 {margin-top: 97px !important;}
.mt-98 {margin-top: 98px !important;}
.mt-99 {margin-top: 99px !important;}
.mt-100 {margin-top: 100px !important;}

.mb-0 {margin-bottom: 0px !important;}
.mb-1 {margin-bottom: 1px !important;}
.mb-2 {margin-bottom: 2px !important;}
.mb-3 {margin-bottom: 3px !important;}
.mb-4 {margin-bottom: 4px !important;}
.mb-5 {margin-bottom: 5px !important;}
.mb-6 {margin-bottom: 6px !important;}
.mb-7 {margin-bottom: 7px !important;}
.mb-8 {margin-bottom: 8px !important;}
.mb-9 {margin-bottom: 9px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-11 {margin-bottom: 11px !important;}
.mb-12 {margin-bottom: 12px !important;}
.mb-13 {margin-bottom: 13px !important;}
.mb-14 {margin-bottom: 14px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-16 {margin-bottom: 16px !important;}
.mb-17 {margin-bottom: 17px !important;}
.mb-18 {margin-bottom: 18px !important;}
.mb-19 {margin-bottom: 19px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-21 {margin-bottom: 21px !important;}
.mb-22 {margin-bottom: 22px !important;}
.mb-23 {margin-bottom: 23px !important;}
.mb-24 {margin-bottom: 24px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-26 {margin-bottom: 26px !important;}
.mb-27 {margin-bottom: 27px !important;}
.mb-28 {margin-bottom: 28px !important;}
.mb-29 {margin-bottom: 29px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-31 {margin-bottom: 31px !important;}
.mb-32 {margin-bottom: 32px !important;}
.mb-33 {margin-bottom: 33px !important;}
.mb-34 {margin-bottom: 34px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mb-36 {margin-bottom: 36px !important;}
.mb-37 {margin-bottom: 37px !important;}
.mb-38 {margin-bottom: 38px !important;}
.mb-39 {margin-bottom: 39px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-41 {margin-bottom: 41px !important;}
.mb-42 {margin-bottom: 42px !important;}
.mb-43 {margin-bottom: 43px !important;}
.mb-44 {margin-bottom: 44px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mb-46 {margin-bottom: 46px !important;}
.mb-47 {margin-bottom: 47px !important;}
.mb-48 {margin-bottom: 48px !important;}
.mb-49 {margin-bottom: 49px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-51 {margin-bottom: 51px !important;}
.mb-52 {margin-bottom: 52px !important;}
.mb-53 {margin-bottom: 53px !important;}
.mb-54 {margin-bottom: 54px !important;}
.mb-55 {margin-bottom: 55px !important;}
.mb-56 {margin-bottom: 56px !important;}
.mb-57 {margin-bottom: 57px !important;}
.mb-58 {margin-bottom: 58px !important;}
.mb-59 {margin-bottom: 59px !important;}
.mb-60 {margin-bottom: 60px !important;}
.mb-61 {margin-bottom: 61px !important;}
.mb-62 {margin-bottom: 62px !important;}
.mb-63 {margin-bottom: 63px !important;}
.mb-64 {margin-bottom: 64px !important;}
.mb-65 {margin-bottom: 65px !important;}
.mb-66 {margin-bottom: 66px !important;}
.mb-67 {margin-bottom: 67px !important;}
.mb-68 {margin-bottom: 68px !important;}
.mb-69 {margin-bottom: 69px !important;}
.mb-70 {margin-bottom: 70px !important;}
.mb-71 {margin-bottom: 71px !important;}
.mb-72 {margin-bottom: 72px !important;}
.mb-73 {margin-bottom: 73px !important;}
.mb-74 {margin-bottom: 74px !important;}
.mb-75 {margin-bottom: 75px !important;}
.mb-76 {margin-bottom: 76px !important;}
.mb-77 {margin-bottom: 77px !important;}
.mb-78 {margin-bottom: 78px !important;}
.mb-79 {margin-bottom: 79px !important;}
.mb-80 {margin-bottom: 80px !important;}
.mb-81 {margin-bottom: 81px !important;}
.mb-82 {margin-bottom: 82px !important;}
.mb-83 {margin-bottom: 83px !important;}
.mb-84 {margin-bottom: 84px !important;}
.mb-85 {margin-bottom: 85px !important;}
.mb-86 {margin-bottom: 86px !important;}
.mb-87 {margin-bottom: 87px !important;}
.mb-88 {margin-bottom: 88px !important;}
.mb-89 {margin-bottom: 89px !important;}
.mb-90 {margin-bottom: 90px !important;}
.mb-91 {margin-bottom: 91px !important;}
.mb-92 {margin-bottom: 92px !important;}
.mb-93 {margin-bottom: 93px !important;}
.mb-94 {margin-bottom: 94px !important;}
.mb-95 {margin-bottom: 95px !important;}
.mb-96 {margin-bottom: 96px !important;}
.mb-97 {margin-bottom: 97px !important;}
.mb-98 {margin-bottom: 98px !important;}
.mb-99 {margin-bottom: 99px !important;}
.mb-100 {margin-bottom: 100px !important;}

.fs-0 {font-size: 0px !important;}
.fs-1 {font-size: 1px !important;}
.fs-2 {font-size: 2px !important;}
.fs-3 {font-size: 3px !important;}
.fs-4 {font-size: 4px !important;}
.fs-5 {font-size: 5px !important;}
.fs-6 {font-size: 6px !important;}
.fs-7 {font-size: 7px !important;}
.fs-8 {font-size: 8px !important;}
.fs-9 {font-size: 9px !important;}
.fs-10 {font-size: 10px !important;}
.fs-11 {font-size: 11px !important;}
.fs-12 {font-size: 12px !important;}
.fs-13 {font-size: 13px !important;}
.fs-14 {font-size: 14px !important;}
.fs-15 {font-size: 15px !important;}
.fs-16 {font-size: 16px !important;}
.fs-17 {font-size: 17px !important;}
.fs-18 {font-size: 18px !important;}
.fs-19 {font-size: 19px !important;}
.fs-20 {font-size: 20px !important;}
.fs-21 {font-size: 21px !important;}
.fs-22 {font-size: 22px !important;}
.fs-23 {font-size: 23px !important;}
.fs-24 {font-size: 24px !important;}
.fs-25 {font-size: 25px !important;}
.fs-26 {font-size: 26px !important;}
.fs-27 {font-size: 27px !important;}
.fs-28 {font-size: 28px !important;}
.fs-29 {font-size: 29px !important;}
.fs-30 {font-size: 30px !important;}
.fs-31 {font-size: 31px !important;}
.fs-32 {font-size: 32px !important;}
.fs-33 {font-size: 33px !important;}
.fs-34 {font-size: 34px !important;}
.fs-35 {font-size: 35px !important;}
.fs-36 {font-size: 36px !important;}
.fs-37 {font-size: 37px !important;}
.fs-38 {font-size: 38px !important;}
.fs-39 {font-size: 39px !important;}
.fs-40 {font-size: 40px !important;}
.fs-41 {font-size: 41px !important;}
.fs-42 {font-size: 42px !important;}
.fs-43 {font-size: 43px !important;}
.fs-44 {font-size: 44px !important;}
.fs-45 {font-size: 45px !important;}
.fs-46 {font-size: 46px !important;}
.fs-47 {font-size: 47px !important;}
.fs-48 {font-size: 48px !important;}
.fs-49 {font-size: 49px !important;}
.fs-50 {font-size: 50px !important;}
.fs-51 {font-size: 51px !important;}
.fs-52 {font-size: 52px !important;}
.fs-53 {font-size: 53px !important;}
.fs-54 {font-size: 54px !important;}
.fs-55 {font-size: 55px !important;}
.fs-56 {font-size: 56px !important;}
.fs-57 {font-size: 57px !important;}
.fs-58 {font-size: 58px !important;}
.fs-59 {font-size: 59px !important;}
.fs-60 {font-size: 60px !important;}
.fs-61 {font-size: 61px !important;}
.fs-62 {font-size: 62px !important;}
.fs-63 {font-size: 63px !important;}
.fs-64 {font-size: 64px !important;}
.fs-65 {font-size: 65px !important;}
.fs-66 {font-size: 66px !important;}
.fs-67 {font-size: 67px !important;}
.fs-68 {font-size: 68px !important;}
.fs-69 {font-size: 69px !important;}
.fs-70 {font-size: 70px !important;}
.fs-71 {font-size: 71px !important;}
.fs-72 {font-size: 72px !important;}
.fs-73 {font-size: 73px !important;}
.fs-74 {font-size: 74px !important;}
.fs-75 {font-size: 75px !important;}
.fs-76 {font-size: 76px !important;}
.fs-77 {font-size: 77px !important;}
.fs-78 {font-size: 78px !important;}
.fs-79 {font-size: 79px !important;}
.fs-80 {font-size: 80px !important;}
.fs-81 {font-size: 81px !important;}
.fs-82 {font-size: 82px !important;}
.fs-83 {font-size: 83px !important;}
.fs-84 {font-size: 84px !important;}
.fs-85 {font-size: 85px !important;}
.fs-86 {font-size: 86px !important;}
.fs-87 {font-size: 87px !important;}
.fs-88 {font-size: 88px !important;}
.fs-89 {font-size: 89px !important;}
.fs-90 {font-size: 90px !important;}
.fs-91 {font-size: 91px !important;}
.fs-92 {font-size: 92px !important;}
.fs-93 {font-size: 93px !important;}
.fs-94 {font-size: 94px !important;}
.fs-95 {font-size: 95px !important;}
.fs-96 {font-size: 96px !important;}
.fs-97 {font-size: 97px !important;}
.fs-98 {font-size: 98px !important;}
.fs-99 {font-size: 99px !important;}
.fs-100 {font-size: 100px !important;}

.fsr-0 {font-size: 0rem !important;}
.fsr-1 {font-size: 1rem !important;}
.fsr-2 {font-size: 2rem !important;}
.fsr-3 {font-size: 3rem !important;}
.fsr-4 {font-size: 4rem !important;}
.fsr-5 {font-size: 5rem !important;}
.fsr-6 {font-size: 6rem !important;}
.fsr-7 {font-size: 7rem !important;}
.fsr-8 {font-size: 8rem !important;}
.fsr-9 {font-size: 9rem !important;}
.fsr-10 {font-size: 10rem !important;}
.fsr-11 {font-size: 11rem !important;}
.fsr-12 {font-size: 12rem !important;}
.fsr-13 {font-size: 13rem !important;}
.fsr-14 {font-size: 14rem !important;}
.fsr-15 {font-size: 15rem !important;}
.fsr-16 {font-size: 16rem !important;}
.fsr-17 {font-size: 17rem !important;}
.fsr-18 {font-size: 18rem !important;}
.fsr-19 {font-size: 19rem !important;}
.fsr-20 {font-size: 20rem !important;}
.fsr-21 {font-size: 21rem !important;}
.fsr-22 {font-size: 22rem !important;}
.fsr-23 {font-size: 23rem !important;}
.fsr-24 {font-size: 24rem !important;}
.fsr-25 {font-size: 25rem !important;}
.fsr-26 {font-size: 26rem !important;}
.fsr-27 {font-size: 27rem !important;}
.fsr-28 {font-size: 28rem !important;}
.fsr-29 {font-size: 29rem !important;}
.fsr-30 {font-size: 30rem !important;}
.fsr-31 {font-size: 31rem !important;}
.fsr-32 {font-size: 32rem !important;}
.fsr-33 {font-size: 33rem !important;}
.fsr-34 {font-size: 34rem !important;}
.fsr-35 {font-size: 35rem !important;}
.fsr-36 {font-size: 36rem !important;}
.fsr-37 {font-size: 37rem !important;}
.fsr-38 {font-size: 38rem !important;}
.fsr-39 {font-size: 39rem !important;}
.fsr-40 {font-size: 40rem !important;}
.fsr-41 {font-size: 41rem !important;}
.fsr-42 {font-size: 42rem !important;}
.fsr-43 {font-size: 43rem !important;}
.fsr-44 {font-size: 44rem !important;}
.fsr-45 {font-size: 45rem !important;}
.fsr-46 {font-size: 46rem !important;}
.fsr-47 {font-size: 47rem !important;}
.fsr-48 {font-size: 48rem !important;}
.fsr-49 {font-size: 49rem !important;}
.fsr-50 {font-size: 50rem !important;}
.fsr-51 {font-size: 51rem !important;}
.fsr-52 {font-size: 52rem !important;}
.fsr-53 {font-size: 53rem !important;}
.fsr-54 {font-size: 54rem !important;}
.fsr-55 {font-size: 55rem !important;}
.fsr-56 {font-size: 56rem !important;}
.fsr-57 {font-size: 57rem !important;}
.fsr-58 {font-size: 58rem !important;}
.fsr-59 {font-size: 59rem !important;}
.fsr-60 {font-size: 60rem !important;}
.fsr-61 {font-size: 61rem !important;}
.fsr-62 {font-size: 62rem !important;}
.fsr-63 {font-size: 63rem !important;}
.fsr-64 {font-size: 64rem !important;}
.fsr-65 {font-size: 65rem !important;}
.fsr-66 {font-size: 66rem !important;}
.fsr-67 {font-size: 67rem !important;}
.fsr-68 {font-size: 68rem !important;}
.fsr-69 {font-size: 69rem !important;}
.fsr-70 {font-size: 70rem !important;}
.fsr-71 {font-size: 71rem !important;}
.fsr-72 {font-size: 72rem !important;}
.fsr-73 {font-size: 73rem !important;}
.fsr-74 {font-size: 74rem !important;}
.fsr-75 {font-size: 75rem !important;}
.fsr-76 {font-size: 76rem !important;}
.fsr-77 {font-size: 77rem !important;}
.fsr-78 {font-size: 78rem !important;}
.fsr-79 {font-size: 79rem !important;}
.fsr-80 {font-size: 80rem !important;}
.fsr-81 {font-size: 81rem !important;}
.fsr-82 {font-size: 82rem !important;}
.fsr-83 {font-size: 83rem !important;}
.fsr-84 {font-size: 84rem !important;}
.fsr-85 {font-size: 85rem !important;}
.fsr-86 {font-size: 86rem !important;}
.fsr-87 {font-size: 87rem !important;}
.fsr-88 {font-size: 88rem !important;}
.fsr-89 {font-size: 89rem !important;}
.fsr-90 {font-size: 90rem !important;}
.fsr-91 {font-size: 91rem !important;}
.fsr-92 {font-size: 92rem !important;}
.fsr-93 {font-size: 93rem !important;}
.fsr-94 {font-size: 94rem !important;}
.fsr-95 {font-size: 95rem !important;}
.fsr-96 {font-size: 96rem !important;}
.fsr-97 {font-size: 97rem !important;}
.fsr-98 {font-size: 98rem !important;}
.fsr-99 {font-size: 99rem !important;}
.fsr-100 {font-size: 100rem !important;}

.z-0 {z-index: 0 !important;}
.z-1 {z-index: 1 !important;}
.z-2 {z-index: 2 !important;}
.z-3 {z-index: 3 !important;}
.z-4 {z-index: 4 !important;}
.z-5 {z-index: 5 !important;}
.z-6 {z-index: 6 !important;}
.z-7 {z-index: 7 !important;}
.z-8 {z-index: 8 !important;}
.z-9 {z-index: 9 !important;}
.z-10 {z-index: 10 !important;}
.z-11 {z-index: 11 !important;}
.z-12 {z-index: 12 !important;}
.z-13 {z-index: 13 !important;}
.z-14 {z-index: 14 !important;}
.z-15 {z-index: 15 !important;}
.z-16 {z-index: 16 !important;}
.z-17 {z-index: 17 !important;}
.z-18 {z-index: 18 !important;}
.z-19 {z-index: 19 !important;}
.z-20 {z-index: 20 !important;}
.z-21 {z-index: 21 !important;}
.z-22 {z-index: 22 !important;}
.z-23 {z-index: 23 !important;}
.z-24 {z-index: 24 !important;}
.z-25 {z-index: 25 !important;}
.z-26 {z-index: 26 !important;}
.z-27 {z-index: 27 !important;}
.z-28 {z-index: 28 !important;}
.z-29 {z-index: 29 !important;}
.z-30 {z-index: 30 !important;}
.z-31 {z-index: 31 !important;}
.z-32 {z-index: 32 !important;}
.z-33 {z-index: 33 !important;}
.z-34 {z-index: 34 !important;}
.z-35 {z-index: 35 !important;}
.z-36 {z-index: 36 !important;}
.z-37 {z-index: 37 !important;}
.z-38 {z-index: 38 !important;}
.z-39 {z-index: 39 !important;}
.z-40 {z-index: 40 !important;}
.z-41 {z-index: 41 !important;}
.z-42 {z-index: 42 !important;}
.z-43 {z-index: 43 !important;}
.z-44 {z-index: 44 !important;}
.z-45 {z-index: 45 !important;}
.z-46 {z-index: 46 !important;}
.z-47 {z-index: 47 !important;}
.z-48 {z-index: 48 !important;}
.z-49 {z-index: 49 !important;}
.z-50 {z-index: 50 !important;}
.z-51 {z-index: 51 !important;}
.z-52 {z-index: 52 !important;}
.z-53 {z-index: 53 !important;}
.z-54 {z-index: 54 !important;}
.z-55 {z-index: 55 !important;}
.z-56 {z-index: 56 !important;}
.z-57 {z-index: 57 !important;}
.z-58 {z-index: 58 !important;}
.z-59 {z-index: 59 !important;}
.z-60 {z-index: 60 !important;}
.z-61 {z-index: 61 !important;}
.z-62 {z-index: 62 !important;}
.z-63 {z-index: 63 !important;}
.z-64 {z-index: 64 !important;}
.z-65 {z-index: 65 !important;}
.z-66 {z-index: 66 !important;}
.z-67 {z-index: 67 !important;}
.z-68 {z-index: 68 !important;}
.z-69 {z-index: 69 !important;}
.z-70 {z-index: 70 !important;}
.z-71 {z-index: 71 !important;}
.z-72 {z-index: 72 !important;}
.z-73 {z-index: 73 !important;}
.z-74 {z-index: 74 !important;}
.z-75 {z-index: 75 !important;}
.z-76 {z-index: 76 !important;}
.z-77 {z-index: 77 !important;}
.z-78 {z-index: 78 !important;}
.z-79 {z-index: 79 !important;}
.z-80 {z-index: 80 !important;}
.z-81 {z-index: 81 !important;}
.z-82 {z-index: 82 !important;}
.z-83 {z-index: 83 !important;}
.z-84 {z-index: 84 !important;}
.z-85 {z-index: 85 !important;}
.z-86 {z-index: 86 !important;}
.z-87 {z-index: 87 !important;}
.z-88 {z-index: 88 !important;}
.z-89 {z-index: 89 !important;}
.z-90 {z-index: 90 !important;}
.z-91 {z-index: 91 !important;}
.z-92 {z-index: 92 !important;}
.z-93 {z-index: 93 !important;}
.z-94 {z-index: 94 !important;}
.z-95 {z-index: 95 !important;}
.z-96 {z-index: 96 !important;}
.z-97 {z-index: 97 !important;}
.z-98 {z-index: 98 !important;}
.z-99 {z-index: 99 !important;}
.z-100 {z-index: 100 !important;}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.d-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.d-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.d-inline {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.pos-static {
  position: static;
}
.pos-relative {
  position: relative;
}
.over-hidden {
  overflow: hidden;
}
.over-auto {
  overflow: auto;
}
.pointer {
  cursor: pointer;
  caret-color: transparent;
}
.resize-none {
  resize: none;
}
.webkit-fill {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.fw-normal {
  font-weight: normal;
}
.fw-bold {
  font-weight: bold;
}
.fw-bolder {
  font-weight: bolder;
}