#search01 {
    margin-left:10px;
    margin-top: 10px;
    line-height: 24px;
    width: 1120px;
    height: 35px;
    color: #FFF;
    font-size: 11pt;
    background:linear-gradient( to bottom, #f8f3f9, #e9e4ea);
    border: 1px #c2bdc1 solid;

}

#search01 .normal {
    float: left;
    margin: 5px 0 0 20px;
    width: 1000px;
    height: 20px;
    line-height:25px;
    color: #333;
    font-size: 11px;
    font-weight: 600;
}

#search01 select {
    width: 120px;
}
#search02 {
    margin-left:10px;
    margin-top: 10px;
    width: 1120px;
    height: 35px;
    color: #FFF;
    font-size: 11pt;
    background:linear-gradient( to bottom, #f8f3f9, #e9e4ea);
    border: 1px #c2bdc1 solid;

}

#search02 .normal {
    float: left;
    margin: 5px 0 0 20px;
    width: 1000px;
    height: 20px;
}

#search03 select {
    width: 120px;
}
#search03 {
    margin-left:10px;
    margin-top: 10px;
    width: 1120px;
    height: 35px;
    color: #FFF;
    font-size: 11pt;
    background:linear-gradient( to bottom, #f8f3f9, #e9e4ea);
    border: 1px #c2bdc1 solid;

}

#search03 .normal {
    float: left;
    margin: 5px 0 0 20px;
    width: 1000px;
    height: 20px;
    line-height:25px;
}

#search03 select {
    width: 120px;
}

#saveFormOut {
    float: right;
    width: 350px;
    border-left:1px #dfdfdf solid;
    padding-top:5px;
}
#saveFormLine{
    width:0px;
    border-left:1px #dfdfdf solid;
    border-right:1px #fff solid;
    height:643px;
    float:left;
    margin-left:5px;
}
#saveForm {
    float: right;
   /* width: 349px;*/
    height: 618px;
    margin-left:12px;
    /*border-left:1px #fff solid;*/
}
#saveForm .frmGroup {
    width: 340px;
    margin-top:20px;
}
#saveForm .frmGroup .frmTitle {
    float: left;
    width: 75px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    /*margin: 5px 0 0 7px;*/
    margin-right:5px;
    line-height:22px;

}

#saveForm .frmGroup .frmInput {
    float: left;
    width: 250px;
    height: 24px;
    text-align: left;
   /* margin: 5px 5px 0 0;*/

}
#saveForm .frmGroup .frmInput_textarea {
    float: left;
    width: 165px;
    height: 50px;
    text-align: left;
    margin: 5px 5px 0 0;

}
#saveForm .frmGroup textarea {
    ime-mode: auto;
    border: 1px solid #999;
    font-size: 12px;
    margin-left: 5px;
}



#savePopForm {
     width: 349px;
    height:348px;
    margin-left:34px;
    /*border-left:1px #fff solid;*/
    margin-top:20px;
    border:1px #c2bdc1 solid;
    background:#EFEFEF;
}
#savePopForm .frmGroup {
    width: 340px;
    margin-top:20px;
}
#savePopForm .frmGroup .frmTitle {
    float: left;
    width: 75px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    /*margin: 5px 0 0 7px;*/
    margin-right:5px;
    line-height:22px;

}

#savePopForm .frmGroup .frmInput {
    float: left;
    width: 250px;
    height: 24px;
    text-align: left;
    /* margin: 5px 5px 0 0;*/

}
#savePopForm .frmGroup .frmInput_textarea {
    float: left;
    width: 165px;
    height: 50px;
    text-align: left;
    margin: 5px 5px 0 0;

}
#savePopForm .frmGroup textarea {
    ime-mode: auto;
    border: 1px solid #999;
    font-size: 12px;
    margin-left: 5px;
}
#_bodyRight_tab ul{
    margin-top:10px;
    margin-left:0px;
    margin-bottom:0px;
    margin-left:-30px;

}

ul.tab {
    float: left;
    list-style: none;
    width: 100%;
    font-weight:bold;


}
ul.tab li {

    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 30px;
    border-left: none;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    background: linear-gradient( to top, #235085, #5b85b4 );
    text-align:center;
    box-shadow:3px 1px 5px #d5d5d5;
}
ul.tab li a {
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    display: block;
    font-size: 12px;
    padding: 0 10px;
    outline: none;
    width:105px;

    border-left: 1px #dbdcd8 solid;

    color:#3f3d3d;
}
html ul.tab li a:hover {
    background:#c6d49c;

}
ul.tab li.active, html ul.tab li.active a:hover  {
    background: linear-gradient( to top, #f9faf2, #c6d49c );

}


.check_box1 {
    float: left;
    width: 270px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin: 5px 0 5px 60px;

}

.table_01 {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 750px;
    margin-left:10px;

}
.table_02 {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 200px;
    margin-top:20px;
    margin-left:10px;
}
.table_03 {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 330px;
    margin-top:20px;
    margin-left:10px;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    /*  box-shadow: 0 1px 1px #ccc;*/

}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {

    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;
    text-align: center;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered  .first_cell {
    border-left: none;
}
.bordered  .first_celltop {
    border-left: none;
    border-top: none;
}
.bordered  .first_td {

    border-top: none;
}
.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.line_space {
    height:20px;
    width:498px;
    float:left;
}
#saveForm SELECT{
    height:21px;
    width:174px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
 }
.eventBtnTopline{
    border-top:1px #dfdfdf solid;
    border-bottom:1px #fff solid;
    width:310px;
    margin-left:7px;
}
/*.readBox
{
    width:170px;
}
.inputBox{
    width:170px;
}
.hasDatepicker{
    width:100px;
}*/
._pop_close{
    float:right;
}
._pop_title{
    float:left;
    padding-left:10px;
}
._popTop_content{
    margin:10px auto;
    background:#efefef;
    border: 1px #c2bdc1 solid;
    height:300px;
    width:95%;
}
#_shadowPop {
    width: 412px;
    height: 460px;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 2;
    background:#e5ead2;

}

#_shadowPop #_popTop {
    width: 408px;
    height: 31px;
    cursor: move;
    border-bottom: 1px #8aa097 dotted;
    line-height: 30px;
}

/*#_shadowPop #_popTop div {
    float: left;
    color: #FFF;
    font-weight: bold;
    padding-left: 15px;
}*/

#_shadowPop #_popBody {
    width: 400px;
    height: 610px;
    text-align: center;

}

#_shadowPop #_popBody .popGroup {
    width: 600px;
    margin: 0 5px 0 5px;
    background-color: #efefef;
    border: 1px #CCC solid;

}

#_shadowPop #_popBody .popTitle {
    float: left;
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 3px 0 0 7px;

}

#_shadowPop #_popBody .popInput {
    float: left;
    width: 371px;
    height: 20px;
    text-align: left;
    margin: 3px 5px 0 0;

}

#_shadowPop #_popBody input {
    height: 16px;
    margin-left: 5px;
   /* ime-mode:disabled;*/
    background-color: #FFF;
    border: 0px #F9F9F9 outset;
    font-size: 12px;
}

#_shadowPop #_popBody select {
    background-color:#FFF;
    margin-left:5px;
    font-size: 12px;
    height: 20px;
    width: 150px;
    border: 1px #F9F9F9 outset;
}

#_shadowPop #_popBody textarea {
    background-color:#FFF;
    font-family: "留묒� 怨좊뵓";
    margin-left:5px;
    font-size: 12px;
    border: 1px #acacac outset;
}
#_popTab {
    width: 588px;
    height: 70px;
    margin: 10px 0 -3px 0;
}
#_popTab2 {
    width: 588px;
    height: 30px;
    margin: 10px 0 -3px 0;
}

#_popTab .normal {
    float: left;
    text-align: center;
    width: 80px;
    height: 25px;
    cursor: pointer;
    margin: 1px 0 -3px -1px;
    border: 1px #d2d0d1 solid;
    background: linear-gradient( to top, #f5f4fc, #d1d5f2 );
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#47484d;
}

#_popTab div:hover {
    float: left;
    text-align: center;
    width: 80px;
    height: 28px;
    margin-top: -2px;
    margin-bottom: 0;
    font-weight:bold;
    cursor: pointer;
    background-color: #F2F2F2;
    border: 1px #acacac solid;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#_popTab .onTab {
    float: left;
    text-align: center;
    width: 80px;
    height: 29px;
    margin-top: -2px;
    margin-left: -1px;
    font-weight:bold;
    cursor: pointer;
    background: linear-gradient( to top, #f8fbe6, #bfd089 );
    border: 1px #acacac solid;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.popGrid{
    width: 570px;
    border:1px #c2bdc1 solid;
    margin-left:10px;
    margin-top:10px;
}
.popGridHead{
    background:#f8f3f9;
    color: #555;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    height:22px;

}
.popGridHeader {
    float: left;
    height:22px;
}
.popGridHeader div {
    float: left;
    background:#f8f3f9;
    color: #555;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    height:22px;
    border-top:1px #c2bdc1 solid;
    border-right:1px #c2bdc1 inset;
    border-bottom:1px #c2bdc1 inset;

}

.popGridBody {
    width: 100%;
    height: 70px;
    overflow-y: scroll;
    /* border-left:1px #CCC solid;*/
    border-bottom:1px #CCC solid;
    /* border-right:1px #CCC solid;*/
    background-color: #F2F2F2;
}

.popGridBody div div {
    float: left;
    color: #555;
    font-size: 11px;
    height:22px;
    border:1px #CCC solid;
    margin-left: -1px;
    margin-top: -1px;
    background-color: #FFF;
}

.popGridBody div div p {
    padding-right:2px;
    padding-left:2px;
}

.popGridTail {

    /*    width: 427px;*/
    height: 22px;
    /*    border-left:1px #CCC solid;*/


    background-color: #F2F2F2;
}

.popGridTail div div {
    float: left;
    color: #555;
    font-size: 11px;
    height:22px;
    background-color: #F2F2F2;
}

.popGridTail div div p {
    padding-right:2px;
}

.popGridInput {
    margin-left: 10px;
    /*width: 427px;*/
    height: 22px;
    /*border-left:1px #CCC solid;*/
    border-bottom:1px #CCC solid;
    background-color: #F2F2F2;
}
.calCellFirst{
    borderleft:none;
}
.popGridInput div div {
    float: left;
    color: #555;
    font-size: 11px;
    height:22px;
    border-left:1px #CCC solid;
    border-right:1px #CCC solid;
    margin-left: -1px;
    background-color: #FFF;
}
.calCellHead2 {
    float:left;
    width:139px;
    height:40px;
     border-left: 1px #abccf8  solid;
    border-top:2px #abccf8  solid;
    border-bottom:2px #c2bdc1 solid;
    text-align:center;
    padding-top:5px;
    font-weight:bold;
    background-image:url('/inc/layout/panel-title-light-bg.gif');
    /* margin-bottom:2px;*/
    background:#fff;
    line-height:28px;
}

.calCellHead {
    float:left;
    width:139px;
    height:40px;
    border-left: 1px #abccf8  solid;
    border-top:2px #abccf8  solid;
    border-bottom:2px #c2bdc1 solid;
    text-align:center; 
    padding-top:5px;
    font-weight:bold;
      
     background-image:url('/inc/layout/panel-title-light-bg.gif');
  /*  margin-bottom:2px; */
    background:#fff;
    line-height:28px; 
    
}
.calCellHeadMonth{
    float:left;
    width:144px;
    height:40px;
    border:1px #c2bdc1 solid;
    text-align:center;
    padding-top:5px; font-weight:bold;
    /*background:linear-gradient( to bottom, #f8f3f9, #e9e4ea);*/
    background: #eff5fc;
    margin-bottom:2px;
    margin-top:5px;
    /* background:#fff;*/
    font-size:16px;
    line-height:25px;
}
.calCellHeadLast2 {
    float:left;
    width:140px;
    height:40px;
    border-left:1px #c2bdc1  solid;
    border-top:2px #abccf8  solid;
    border-bottom:2px #c2bdc1  solid;
    border-right:1px #abccf8  solid;
    text-align:center;
    padding-top:5px; font-weight:bold;
    background:#fff;
    /*margin-bottom:2px;*/
    line-height:28px;
}
.calCellHeadLast {
     float:left;
     width:139px;
     height:40px;
     border-left:1px #abccf8 solid;
     border-top:1px #abccf8 solid;
     border-bottom:2px #006600 solid;
     border-right:1px #abccf8 solid;
     text-align:center;
     padding-top:5px;
    font-weight:bold;
     background:#fff;
     /*margin-bottom:2px;*/
 }
.calCellBody {
    float:left;
    width:139px;
    height:120px;
    border-left:1px #ddd  solid;
    border-bottom:1px #ddd  solid;
    padding:0px 0 0 0px;
   /* text-overflow: ellipsis; white-space: nowrap;*/
    overflow: hidden;
    background:#fbfbfb;
    font-size:12px;
}

.calCellBody2 {
    float:left;
    /* width:139px; */
    /* height:120px; */
    width:232px;
    height:116px;
    border-left:1px #ddd  solid;
    border-bottom:1px #ddd  solid;
    padding:0px 0 0 0px;
   /* text-overflow: ellipsis; white-space: nowrap;*/
    overflow: hidden;
    background:#fbfbfb;
    font-size:12px;
}

.calCellBodyLast {
    float:left;
    width:139px;
    height:100px;
    border-left:1px #ddd solid;
    border-bottom:1px #ddd solid;
    /*border-right:1px #abccf8 solid;*/
    padding:0px 0 0 1px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size:12px;
}
.calCellBodyLast2 {
    float:left;
   /*  width:138px; */
   /* height:120px; */
    width:231px;
    height:116px;
    border-left:1px #ddd solid;
    border-bottom:1px #ddd solid;
    border-right:1px #ddd solid;
    padding:0px 0 0 1px;
    background:#fbfbfb;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size:12px;
}
.cal_head{

}
.cal_info{
    width:80px;
    float:left;
    margin-left:2px;
    height:20px;
    background:#eaf1dd;
    padding-right:5px;
}
.cal_info2{
    border:1px #c2d69a solid;
    width:80px;
    float:left;
    margin-left:30px;
    height:20px;
    border-bottom:none;
    background:#eaf1dd;
    padding-right:5px;
    line-height:19px;
}
.cal_info3 {
    border: 1px #c2d69a solid;
    width: 80px;
    float: left;
    margin-left: 30px;
    height: 34px;
    background:#eaf1dd;
    padding-right:5px;
}
.cal_info4 {
    border: 1px #c2d69a solid;
    width: 80px;
    float: left;
    margin-left: 30px;
    height: 20px;
    background:#eaf1dd;
    padding-right:5px;
}
.cal_content1{
    padding-top:3px;
    padding-left:3px;

}
.cal_box{
    width:135px;
    /*height:15px;*/
    padding-left:10px;
    line-height:14px;
    padding-top:0px;

}
.cal_box_first{
    margin-top:3px;
}
.cal_box2{
    width:133px;
    /*height:15px;*/
    padding-left:10px;
    line-height:14px;
    padding-top:0px;

}
.cal_box_first2{
    margin-top:3px;
}
.cursor_hand{
    cursor:hand;
    vertical-align:top;
}
#_shadowPopFeedBack {
    width: 412px;
    height: 280px;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 2;
    background:#e5ead2;

}

#_shadowPopFeedBack #_popTopFeedback {
    width: 408px;
    height: 31px;
    cursor: move;
    border-bottom: 1px #8aa097 dotted;
    line-height: 30px;
}

#_shadowPopFeedBack #_popBodyFeedback {
    width: 400px;
    height: 210px;
    text-align: center;

}

#_shadowPopFeedBack #_popBodyFeedback .popGroup {
    width: 600px;
    margin: 0 5px 0 5px;
    background-color: #efefef;
    border: 1px #CCC solid;

}

#_shadowPopFeedBack #_popBodyFeedback .popTitle {
    float: left;
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 3px 0 0 7px;

}

#_shadowPopFeedBack #_popBody .popInput {
    float: left;
    width: 371px;
    height: 20px;
    text-align: left;
    margin: 3px 5px 0 0;

}

#_shadowPopFeedBack #_popBodyFeedback input {
    height: 16px;
    margin-left: 5px;
    /* ime-mode:disabled;*/
    background-color: #FFF;
    border: 0px #F9F9F9 outset;
    font-size: 12px;
}

#_shadowPopFeedBack #_popBodyFeedback select {
    background-color:#FFF;
    margin-left:5px;
    font-size: 12px;
    height: 20px;
    width: 150px;
    border: 1px #F9F9F9 outset;
}

#_shadowPopFeedBack #_popBodyFeedback textarea {
    background-color:#FFF;
    font-family: "留묒� 怨좊뵓";
    margin-left:5px;
    font-size: 12px;
    border: 1px #acacac outset;
}

#savePopFormFeedback {
    width: 349px;
    height:200px;
    margin-left:34px;
    /*border-left:1px #fff solid;*/
    margin-top:20px;
    border:1px #c2bdc1 solid;
    background:#EFEFEF;
}
#savePopFormFeedback .frmGroup {
    width: 340px;
    margin-top:20px;
}
#savePopFormFeedback .frmGroup .frmTitle {
    float: left;
    width: 75px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    /*margin: 5px 0 0 7px;*/
    margin-right:5px;
    line-height:22px;

}

#savePopFormFeedback .frmGroup .frmInput {
    float: left;
    width: 250px;
    height: 24px;
    text-align: left;
    /* margin: 5px 5px 0 0;*/

}
#savePopFormFeedback .frmGroup .frmInput_textarea {
    float: left;
    width: 165px;
    height: 50px;
    text-align: left;
    margin: 5px 5px 0 0;

}
#savePopFormFeedback .frmGroup textarea {
    ime-mode: auto;
    border: 1px solid #999;
    font-size: 12px;
    margin-left: 5px;
}