.neoinput {
    width: 95%;
    height: 22px !important;
    font-size:13px;
}

.titleBox {
    float: left;
    width: 12%;
    height: 25px;
    /*font-size: 12px;*/
    font-weight: bold;
    text-align: center;
    margin: 5px 0 0 7px;
    border: 1px #999 solid;
}
.titleBox p {
    margin-top: 4px;
    font-size:13px;
}

.inputBox {
    float: left;
    height: 25px;
    text-align: left;
    margin: 5px 5px 0 0;
    border: 1px #F9F9F9 solid;
}

.eventInfoTop {
	border-right:1px #CCCCCC solid;
	width:50%;
	height:29px;
	line-height:29px;
}

.fl { float: left; }

.fr { float: right; }

.clear { clear: both; }

.em1 { font-size:1em; }

.triangle {display:inline-block; width:0; height:0; border-style:solid; border-width:12px;}
.triangle.leftBlue {border-color:transparent #68A8EA transparent transparent;}
.triangle.leftOrange {border-color:transparent #F47C2C transparent transparent;}
.triangle.leftRed {border-color:transparent #FF0000 transparent transparent;}

.triangleDown {display:inline-block; width:0; height:0; border-style:solid; border-width:25px;}
.triangleDown.dark {border-color:#666 transparent transparent transparent;}

.tmpBorder { border : 1px #FF0000 Solid; }

.w-line { 
	width:90%;
	margin-left:5%;
	height:1px;
	background-color:#FFFFFF;
	margin-top:5px;
}