<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss}] - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error" additivity="false">
      <AppenderRef ref="console"/>
    </Root>

    <!-- log4j2 -->
    <Logger name="log4jdbc.log4j2" level="debug" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>

    <!-- query logging -->
    <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>

    <!-- result table log -->
    <Logger name="jdbc.resultsettable" level="off" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>

    <!-- query + time -->
    <Logger name="jdbc.sqltiming" level="off" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>

    <!-- 전체 로그 -->
    <Logger name="jdbc.audit" level="off" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>

    <!-- resultsettable + resultset (parameter) -->
    <Logger name="jdbc.resultset" level="off" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>

    <!-- connection log -->
    <Logger name="jdbc.connection" level="off" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
  </Loggers>
</Configuration>