.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}
.aniHeader {
    float:left;
    width:40px;
    height:30px;
    background-color:#333;
    border-top: 1px #999 solid;
    border-right: 1px #999 solid;
    border-bottom: 1px #999 solid;
}

.aniHeader p {
    color:#FFF;
    margin-top:5px;
    text-align: center;
}
.aniBody {
    float:left;
    width:40px;
    height:25px;
    background-color:#FFF;
    border-right: 1px #999 solid;
    border-bottom: 1px #999 solid;
    cursor:pointer;
}
.aniBody p {
    color:#333;
    margin-top:3px;
    text-align: center;
}

.scrollTop {
    height:30px;
    width:16px;
    border:1px #687074 solid;
    background-color:#333;
}

.my-row-style {
    background: #9ea6aa;
    font-weight:bold;

}

.my-row-style-2 {
    background: #c8d1d5;


}
.my-report-style {
    background:#eeeeee;
    /*color:#005500;*/
    font-weight:bold;
}

.fontTitle {
    color:#73879c !important;
}

.wd_49 {
    width: 49%;
}

.tmpBorder {
    border : 1px #333333 solid !important;
}

.left_area_user {
    position: absolute;
    /*width:60%;*/
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 740px;
    overflow: auto;
}

.right_area_user {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 710PX;
}

.left_area_doWorkPart {
    position: absolute;
    /*width:60%;*/
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 520px;
    overflow: auto;
}

.right_area_doWorkPart {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 500PX;
}

.left_area_doWork {
    position: absolute;
    /*width:60%;*/
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 480px;
    overflow: auto;
}

.right_area_doWork {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 450PX;
    margin-right: 10px;
}

.left_area_plan {
    position: absolute;
    top: 43px;
    left: 10px;
    width: 550px;
}
.right_area_plan {
    position: absolute;
    width: auto;
    top: 43px;
    left: 0;
    bottom: 0;
    right: 10px;
    margin-left: 570px;
    overflow: auto;
}


.left_area_planEquip {
    position: absolute;
    /*width:60%;*/
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 520px;
    overflow: auto;
}

.right_area_planEquip {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 500PX;
}


.left_area_ship {
    position: absolute;
    /*width:60%;*/
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 500px;
    overflow: auto;
}

.right_area_ship {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 480PX;
}


.left_area_jobOrder_expand {
    position: absolute;
    width:98%;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    overflow: auto;
}

.left_area_jobOrder {
    position: absolute;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 620px;
    margin-top : 520px;
    /*overflow: auto;*/
}

.right_area_jobOrder {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 600PX;
    margin-top : 520px;
}


.left_area_report {
    position: absolute;
    width: auto;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 500px;
    overflow: auto;
}
.right_area_report {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 450px;
    margin-right: 30px;
}

.left_area_fixScreen {
    position: absolute;
    /*width:60%;*/
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    /*margin-right: 270px;*/
    width: 740px;
    /*overflow: auto;*/
}

.right_area_fixScreen {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 250px;
}

.page-title-fixScreen .title_left_fixScreen {
    float: left;
    display: block;
    width:80%;
}

.page-title-fixScreen .title_right_fixScreen {
    float: right;
    display: block;
}



.left_area_report_order {
    position: absolute;
    width: auto;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 650px;
    overflow: auto;
}

.right_area_report_order {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 620PX;
    margin-right: 10px;
}


.h24 {
    height: 24px;
}
.h27 {
    height: 27px;
}

.gridHeader {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background: #ddd;
    background: -webkit-linear-gradient(top, #f8f8f8, #ddd);
    background: -moz-linear-gradient(top, #f8f8f8, #ddd);
    background: -ms-linear-gradient(top, #f8f8f8, #ddd);
    background: -o-linear-gradient(top, #f8f8f8, #ddd);
    background: linear-gradient(to bottom, #f8f8f8, #ddd);
    border:1px #bdbdbd solid;
    color: #3c4752;
    border-left:0;
    border-top:0;
    line-height: 1.5em;
}

.gridBody {
    font-size: 12px;
    background: #FFF;
    border:1px #bdbdbd solid;
    color: #3c4752;
    border-left:0;
    border-top:0;
    line-height: 1.5em;
}

.gridCell {
    line-height: 25px;
    margin-top: 5px;
}


.left_area_costProc {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 400px;
}

.left_area_partProc {
    position: absolute;
    width: auto;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 1000px;
}
.right_area_partProc{
    float:right;
    /*position: absolute;*/
    width: 440PX;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    /*margin-left: 1015px;*/
    margin-right: 555px;
    margin-top: 33px;
}
.left_area_costRate {
    position: absolute;
    width: auto;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 820px;
}
.right_area_costRate {
    float: right;
    /*position: absolute;*/
    width: 400PX;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    /*margin-left: 1015px;*/
    margin-right: 415px;
    margin-top: 33px;
}
.left_area_notice {
    position: absolute;
    width: auto;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 620px;
    overflow: auto;
}
.right_area_notice {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 600px;
}


.left_area_companyProc {
    position: absolute;
    width: 600px;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    /*margin-right: 700px;*/
}
.right_area_companyProc{
    float:left;
    /*position: absolute;*/
    width: 440PX;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 10px;
    /*margin-left: 1015px;*/
    margin-left: 630px;
    /*margin-top: 33px;*/
}

.left_area_sm {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10px;
    margin-right: 650px;
}
.right_area_sm {
    float:right;
    /*position: absolute;*/
    width: 630px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 10px;
    /*margin-left: 1015px;*/
    /*margin-right: 660px;*/
    margin-top: 0;
}

.my-column-style {
    /*background:#eeeeee;*/
    /*color: #808080;*/
    font-style:  italic;
}

input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    padding: 10px;
}

.grayStrong {
     background-color: #e1e0e6;
     font-weight: 700;
}

.grayStrong2 {
    background-color: #eeeeee;
    font-weight: 700;
}
.onlyStrong {
    font-weight: 700;
}

.my-cell-style {
    color: #9bb0c1;
}

.control-label {
      padding:0 5px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      direction: rtl;
  	  text-align: left;
  }

.buttontext {
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.buttontext2 {
  width: 60px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.menuText {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.tabText{
  width: 120px;
  height:15px;
  overflow: hidden;
  white-space: nowrap;
  display:inline-block;
  text-overflow: ellipsis;
  line-height:20px;
  border: 0px;
}

.box1 {
	width: 400px;
	height: 350px;
	position: absolute;
	top: 750px;
	left: 1500px;
	color: white;
}

.tabText2 {
    box-shadow: 0px 3px 20px #00000008;
    position: relative;
    border-radius: 1rem;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    background: white;
  }

.my-custom-bar {
	border:1px solid #E4E4E4;
	background: #FFA800;
	background: -webkit-linear-gradient(right, #FFDA93, #FFA800);
	background: -moz-linear-gradient(right, #FFDA93, #FFA800);
	background: -ms-linear-gradient(right, #FFDA93, #FFA800);
	background: -o-linear-gradient(right, #FFDA93, #FFA800);
	background: linear-gradient(to left, #FFDA93, #FFA800);
}