.cards,
.cards-imageWrapper {
	width: 100% !important;
	overflow: auto !important;
}
.cards,
.cards-tab.active,
.cards-tab:hover {
	background-color: #fff !important;
}
.cards {
	border-radius: 2px !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important;
	margin: 10px -5px !important;
	padding: 10px 10px 0 !important;
	height: 88%;
}
.cards-button,
.cards-title {
	margin-bottom: 10px !important;
}
.cards-title {
	display: flex;
	justify-content: flex-start !important;
	align-items: center !important;
	text-align: left !important;
	font-weight: 600 !important;
	font-size: 14px !important;
}
.cards-button,
.cards-tab {
	text-align: center !important;
}
.cards-tab,
.inlineBtn {
	font-size: 12px !important;
}
.cards-grid {
	width: 100% !important;
	border-top: 2px solid #a8c4dc !important;
	border-bottom: 1px solid #a8c4dc !important;
}
.cards-content {
	padding: 0 5px 6px 0 !important;
	position: relative !important;
	width: 100% !important;
	height: fit-content !important;
	clear: both !important;
}
.cards-imageWrapper {
	height: 50px !important;
}
.cards-image {
	border-radius: 3% !important;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
}
.cards-gridImage {
	width: 50px !important;
	height: 50px !important;
	border-radius: 10% !important;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
.cards-emptyImage {
	width: 0 !important;
	height: 0 !important;
	border-radius: 0 !important;
	box-shadow: 0 0 0 transparent !important;
}
.cards-button {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.cards-tab {
	color: #5a738e !important;
	padding: 7px 45px !important;
	border: 1px solid #d1d1d1 !important;
	border-bottom: 0 !important;
	border-radius: 0 !important;
	font-weight: 500 !important;
	margin: 0 5px 0 0 !important;
	box-shadow: none !important;
}
.inlineBtn,
.ztree li a:hover {
	font-weight: 700 !important;
}
.logo-image {
	width: 100% !important;
	height: 100% !important;
	padding: 5px !important;
}
.hr {
	border-style: dashed !important;
	border-color: #a9a9a9 !important;
}
.inlineBtn {
	width: 60px !important;
	height: 23px !important;
}
.chkBtn,
.delBtn {
	margin: 0 !important;
	font-weight: 800 !important;
	width: 17px !important;
	padding: 0 !important;
	background-color: #fff !important;
}
.delBtn {
	color: #d9534f !important;
}
.chkBtn,
.insertBtn,
.ztree li a:hover {
	color: #428bca !important;
}
.headBtn {
	font-size: 27px !important;
	font-weight: 500 !important;
	margin-right: 25px !important;
	cursor: pointer !important;
}
.insertBtn {
	width: 17px !important;
	margin: 0 !important;
	padding: 0 !important;
	font-weight: 800 !important;
	background-color: #fff !important;
}
.pq-grid-summary,
.summary-row,
.summary-row .pq-grid-number-cell {
	background-color: #dae6f0 !important;
}
.control-label {
	padding-top: 7px !important;
	margin-bottom: 0 !important;
	text-align: right !important;
}
.ztree li span.button {
	transform: scale(1.5) !important;
	transform-origin: center !important;
	border-radius: 1% !important;
	box-shadow: 0 0 0 transparent !important;
}
.ztree li span {
	line-height: 16px !important;
	margin: 0 0 7px 7px !important;
	font-weight: 600 !important;
}
.ztree li a,
.ztree li span.button.switch {
	margin-top: 10px !important;
	font-weight: 600 !important;
}
.summary-row .pq-grid-number-cell {
	border-right: none !important;
}
.webkit-fill {
	width: -webkit-fill-available !important;
}
.gnb_tab {
	position: absolute;
	left: 15px;
	bottom: 0;
	margin: 0 0 10px;
	padding: 0;
}
.gnb_tab > ul {
	margin: 0 0 0 30px;
	padding: 0;
}
.gnb_tab > ul > li {
	list-style: none;
	margin: 0 3px 0 0;
	padding: 0;
}
.gnb_tab > ul > li > a {
	padding: 12px 30px 12px 15px;
	background: #e0e0e0;
	border: 1px solid #d1d1d1;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
}
.gnb_tab > ul > li.active > a,
.gnb_tab > ul > li > a:hover {
	background: #f7f7f7;
}
.gnb_tab > ul > li > span > i {
	margin-left: -22px;
	margin-right: 13px;
}
.gnb_tab > ul > li > span > i:hover {
	cursor: pointer;
	color: #f60;
}
.active {
  background-color: #ffffff !important;
}
